#vouge-header10{
	
	
	/* mega menu alignment */
	.middle-header{
		.row.align-items-center {
			.header-center{
				#bizople-header-ten{
					#top_menu{
						.o_mega_menu{
							a.nav-link{
								line-height: 30px;
								border: 0;
							}
							top: 50px;
						}
					}
					position: unset;
				}
				position: unset;
			}
			position: relative;
		}
	}
	
	/* mega menu alignment end */
	
	.dropdown, .header-myaccount {
		.dropdown-menu{
			border-radius: 0;
		}
	}
	#bizople-header-ten{
		.dropdown {
			.dropdown-menu{
				transition : 0.2s;
				-webkit-transition : 0.2s;
				margin-top: 35px;
				display: block !important;
				opacity: 0;
				visibility: hidden;
				width: fit-content;
			}
			.dropdown-menu.show{
				margin-top: 0 !important;
				opacity: 1 !important;
				visibility: visible !important;
			}
			&:hover{
				.dropdown-toggle:after{
					transform: rotate(180deg);
					@media (max-width: 1199.98px) {
						transform: rotate(0);
					}
				}
				.dropdown-menu{
					margin-top: 0;
					opacity: 1;
					visibility: visible;
					@media (max-width: 1199.98px) {
						margin-top: 35px;
						opacity: 0;
						visibility: hidden;
					}
				}
			}
		}
	}
	.middle-header{
		.dropdown-toggle:after{
			font-family: 'remixicon' !important;
			border: 0;
			font-size: 12px;
			vertical-align: middle;
			content: '\ea4c';
			transition: 0.2s;
			-webkit-transition: 0.2s;
		}
		.dropdown.show, .header-myaccount.show{
			.dropdown-toggle:after{
				transform: rotate(180deg) !important;
			}
		}
	}
	
	.o_extra_menu_items > .dropdown-toggle:after{
		display: none;
	}
	
	.o_extra_menu_items > .dropdown-toggle > .fa{
		font-size: 12px;
		font-family: 'remixicon' !important;
		vertical-align: middle;
		transition: 0.2s;
		-webkit-transition: 0.2s;
		&:before{
			content: "\ea4c";
			margin: 0.255em;
		}
	}
	.o_extra_menu_items{
		.dropdown-toggle{
			&:hover{
				.fa{
					transform: rotate(180deg);
				}
			}
		}
	}
	.o_extra_menu_items.show{
		.dropdown-toggle {
			.fa{
				transform: rotate(180deg) !important;
			}
		}
	}
	
	
	
	.top-header{
		.contact-time{
			p{
				.fa{
					font-size: 17px;
				}
				font-size: 14px;
				line-height: 1.7;
			}
		}
		.header-media{
			a.link{
				font-size: 15px;
				text-decoration: none;
			}
		}
		.header-language{
			.js_language_selector{
				background-color: theme-color('primary') !important;
				color: #ffffff !important;
				
				.dropdown-toggle{
					&::after{
						content: "\ea4c";
						margin: 0 !important;
						border: 0 !important;
						font-family: 'remixicon' !important;
						vertical-align: middle;
						transition: 0.2s;
						-webkit-transition: 0.2s;
					}
				}
			}
			span.o_add_language{
				background-color: theme-color('primary') !important;
				color: #ffffff !important;
			}
			.btn,.js_change_lang, a.o_add_language{
				span{
					text-transform: capitalize !important;
				}
				padding: 0 20px;
				margin: 0;
				font-size: 14px;
				line-height: 44px;
				text-transform: capitalize;
				border-radius: 0;
				position: relative;
				box-shadow: unset;
				background-color: theme-color('primary') !important;
				color: #ffffff !important;
			}
			.dropdown-menu{
				a{
					color: #ffffff;
					background-color: theme-color('primary') !important;
					border: 1px solid theme-color('primary') !important;
					transition: 0.2s;
					border-radius: 0;
					padding: 10px 20px;
					line-height: 20px;
					&:hover{
						border-bottom: 1px solid #ffffff !important;
					}
				}
				transform: unset !important;
				margin: 0;
				right: 10 !important;
				left: auto !important;
				top: unset !important;
				background-color: theme-color('primary');
				border-color: theme-color('primary');
				color: #ffffff;
				width: 100%;
				min-width: unset;
			}
		}
		background-color: theme-color('secondary');
		line-height: 44px;
	}
	
	.middle-header{
		.header-left{
			.navbar-brand{
				line-height: 75px;
			}
			.mobile-sidebar-toggle{
				.btn{
					.fa , .icon , .icofont , .lnr, .lni , .ri , .ti {
						font-size: 22px;
					}
					padding: 0;
					width: 30px;
					height: 30px;
					border-radius: 0;
					background-color: transparent !important;
					color: #1b1b1b;
					border-color: #1b1b1b;
					line-height: 37px;
					border: 0;
				}
			}
			.mobile-cart{
				a.nav-link{
					.icon{
						font-size: 20px;
					}
					sup{
						position: absolute;
						top: -10px;
						right: -10px;
						min-width: 20px;
						height: 20px;
						line-height: 18px;
						font-size: 11px;
						border-radius: 15px;
					}
					padding: 0;
					position: relative;
				}
			}
		}
		.header-center{
			#top_menu{
				.nav-item > a.nav-link{
					text-transform: capitalize;
					letter-spacing: .2px;
					font-weight: 500;
					font-style: normal;
					font-size: 16px;
					line-height: 50px;
					padding: 0 25px;
					color: #1b1b1b;
					position: relative;
				}
				li.nav-item:first-child{
					a.nav-link{
						padding-left: 0;
					}
				}
				.nav-item > dropdown-menu {
					border-radius: 0;
				}
				li.o_extra_menu_items{
					> .nav-link{
						padding: 0;
					}
					.dropdown-menu-right{
						left: 0 !important;
						width: fit-content;
						background-clip: unset;
					}
					> .dropdown-menu{
						> li {
							border: 0 !important;
						}
						background-clip: unset;
						width: fit-content;
					}
				}
			}
			
		}
		.header-right{
			a.nav-link{
				sup{
					position: absolute;
					top: 0px;
					right: 0;
					min-width: 20px;
					height: 20px;
					line-height: 18px;
					font-size: 11px;
					border-radius: 15px;
				}
				font-size: 18px;
				position: relative;
			}
			.acc-dropdown:after{
				margin: 0;
			}
			.header-myaccount{
				.js_usermenu{
					top: 18px !important;
					left: -100px !important;
					transform: translate3d(0px, 26px, 0px) !important;
					&:before{
						content: '';
						position: absolute;
						left: unset;
						top: -8px;
						right: 20px;
						border-left: 8px solid transparent;
						border-right: 8px solid transparent;
						border-bottom: 8px solid #e5e5e5;
						z-index: 100;
					}
				}
				a.dropdown-toggle::after{
					position: absolute;
					top: 7px;
					right: 0;
					line-height: 30px;
				}
				.user_img{
					margin: 0;
					padding: 0;
				}
				position: relative;
			}
		}
		@media (max-width: 767.98px) {
			.mbl-div{
				justify-content: space-between;
				align-items: center;
			}
			box-shadow: 0px 0px 3px #757575;
			z-index: 1;
			position: relative;
		}
		padding: 10px 0;
		background-color: transparent;
	}
}

.o_header_overlay #vouge-header10 {
	@media (max-width: 767.98px) {
		position: unset !important;
		z-index: unset !important;
	}
}