.glass-home-banner{
	.carousel-item{
		background-size: cover;
		background-position: center;
		padding: 215px 0;
	}
	.banner-content{
		h1{
			color: rgb(42, 42, 42);
			font-size: 65px;
		    font-weight: 400;
		    text-transform: uppercase;
		    letter-spacing: 0;
		}	
		p{
		    font-size: 20px;
    		color: rgb(0, 0, 0);
		}
		.btn{
			font-size: 13px;
    		text-transform: uppercase;
		    padding: 12px 25px;
		    font-weight: 600;
    		border-radius: 50px;
		}
	}
	.carousel-indicators{
		opacity:1;
		li{
			position: relative;
			width: 10px;
		    height: 10px;
		    border-radius: 50%;
		    margin: 5px;
		    background-color: #fafafa;
		    -webkit-transition: 0.2s;
		    -moz-transition: 0.2s;
		    -ms-transition: 0.2s;
		    -o-transition: 0.2s;
		    transition: 0.2s;
		    opacity:1;
		}

		li.active{
			background-color: #ecba78;
		}
		li:hover{
			background-color: #ecba78;
		}
	}
	@media (max-width: 767.98px) {
		.carousel-item{
			padding: 70px 0 !important;
		}
		.banner-content{
			h1{
				font-size: 25px;
				line-height: 35px;
			}
			p{
				display:none;
			}
			.btn{
				font-size: 10px;
			}
		}
	}
	@media (min-width: 768px) and (max-width: 991.98px) {
		.carousel-item{
			padding: 100px 0 !important;
		}
		.banner-content{
			h1{
				font-size: 30px;
				line-height: 40px;
			}
			p{
				padding: 0;
			}
		}
	}
	@media (min-width: 992px) and (max-width: 1199.98px) {
		.carousel-item{
			padding: 150px 0 !important;
		}
		.banner-content{
			h1{
				font-size: 40px;
				line-height: 50px;
			}
		}
	}
}
.glass-about{
	padding-top: 115px;
    padding-bottom: 50px;
    position: relative;
    background-repeat: no-repeat;
    background-position-x: center;

    .about-content{
    	span{
	    	font-size: 18px;
		    color: #fff;
		    text-transform: uppercase;
		}
		h3{
			text-transform: uppercase;
		    font-size: 45px;
		    color: #2a2a2a;
		}
		p{
			color: #2a2a2a;
		    font-size: 16px;
		    line-height: 23px;
		    padding-top: 25px;
		}
		.btn{
   			font-size: 12px;
   			padding: 18px 30px;
   			margin-top: 40px;
		    display: inline-block;
		    letter-spacing: 1px;
		    border-radius: 50px;
		}
    }
    .image{
    	a{
    		position: relative;
		    display: block;
		    overflow:hidden;

		    &:hover{
		    	&:before {
		    		width: 100%;
    				height: 100%;
		    	}
		    	&:after {
		    		width: 100%;
    				height: 100%;
		    	}
		    }
    	}
    	a:before {
		    position: absolute;
		    content: "";
		    top: 0;
		    left: 0;
		    width: 0;
		    height: 0;
		    margin: auto;
		    background-color: rgba(255,255,255,.1);
		    -webkit-transition: all .3s ease-out 0s;
		    -moz-transition: all .3s ease-out 0s;
		    -ms-transition: all .3s ease-out 0s;
		    -o-transition: all .3s ease-out 0s;
		    transition: all .3s ease-out 0s;
		}
		a:after {
		    content: "";
		    position: absolute;
		    right: 0;
		    bottom: 0;
		    width: 0;
		    height: 0;
		    background-color: rgba(255,255,255,.1);
		    -webkit-transition: all .3s ease-out 0s;
		    -moz-transition: all .3s ease-out 0s;
		    -ms-transition: all .3s ease-out 0s;
		    -o-transition: all .3s ease-out 0s;
		    transition: all .3s ease-out 0s;
		}
    }
    .image-info{
    	text-align: center;
    	padding-top: 25px;

    	h3{
    		font-size: 30px;
    		font-weight: 500;
		    line-height: 1.1;
		    color: #000;
		    text-transform: uppercase;
    	}
    	p{
    		color: #2a2a2a;
    		font-weight: 400;
    		font-size: 14px;
		    text-transform: uppercase;
		    padding-top: 10px;
    	}
    }
    @media (max-width: 767.98px) {
	    background-position: unset;
    }
}
.glass-image-text{
	padding-top: 100px;
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
	.text-content{
		h3{
			color: #2a2a2a;
		    font-size: 36px;
		    text-transform: uppercase;
		    line-height: 50px;
		    font-weight: 500;
		}
		p{
			max-width: 453px;
		    margin: auto;
		    text-align: center;
		    color: #000;
		    font-size: 16px;
		    line-height: 30px;
		    padding-bottom: 50px;
		    padding-top: 20px;
		}
		.btn{
			font-size: 12px;
			padding: 12px 30px;
			display: inline-block;
			border-radius: 50px;
		}
	}
	.image{
		a{
			position: relative;
		    display: block;
		    overflow: hidden;
		}
		a:before{
			top: 10px;
		    right: 10px;
		    bottom: 10px;
		    left: 10px;
		    border-top: 1px solid #fff;
		    border-bottom: 1px solid #fff;
		    -webkit-transform: scale(0,1);
		    -moz-transform: scale(0,1);
		    -ms-transform: scale(0,1);
		    -o-transform: scale(0,1);
		    transform: scale(0,1);
		    -webkit-transform-origin: center;
		    -moz-transform-origin: center;
		    -ms-transform-origin: center;
		    -o-transform-origin: center;
		}
		a:before , a:after {
		    position: absolute;
		    z-index: 1;
		    content: "";
		    opacity: 0;
		    -ms-opacity: 0;
		    -o-opacity: 0;
		    -moz-opacity: 0;
		    -webkit-opacity: 0;
		    -webkit-transition: all .5s ease-in-out;
		    -moz-transition: all .5s ease-in-out;
		    -ms-transition: all .5s ease-in-out;
		    -o-transition: all .5s ease-in-out;
		    transition: all .5s ease-in-out;
		}
		a:after {
			top: 10px;
		    right: 10px;
		    bottom: 10px;
		    left: 10px;
		    border-right: 1px solid #fff;
		    border-left: 1px solid #fff;
		    -webkit-transform: scale(1,0);
		    -moz-transform: scale(1,0);
		    -ms-transform: scale(1,0);
		    -o-transform: scale(1,0);
		    transform: scale(1,0);
		    -webkit-transform-origin: center;
		    -moz-transform-origin: center;
		    -ms-transform-origin: center;
		    -o-transform-origin: center;
		    transform-origin: center;
		}
		img {
		    position: relative;
		    width: 100%;
		    height: 100%;
		    display: block;
		    backface-visibility: visible;
		    opacity: 1;
		    -ms-opacity: 1;
		    -o-opacity: 1;
		    -moz-opacity: 1;
		    -webkit-opacity: 1;
		    -webkit-transition: all .5s ease-in-out;
		    -moz-transition: all .5s ease-in-out;
		    -ms-transition: all .5s ease-in-out;
		    -o-transition: all .5s ease-in-out;
		    transition: all .5s ease-in-out;
		}

		&:hover{
			img {
			    -webkit-transform: scale3d(1.1,1.1,1);
			    -moz-transform: scale3d(1.1,1.1,1);
			    -ms-transform: scale3d(1.1,1.1,1);
			    -o-transform: scale3d(1.1,1.1,1);
			    transform: scale3d(1.1,1.1,1);
			}
			a:before , a:after {
			    opacity: 1;
			    -ms-opacity: 1;
			    -o-opacity: 1;
			    -moz-opacity: 1;
			    -webkit-opacity: 1;
			    -webkit-transform: scale(1);
			    -moz-transform: scale(1);
			    -ms-transform: scale(1);
			    -o-transform: scale(1);
			    transform: scale(1);
			}
		}
		margin-right: 50px;
	}
	@media (max-width: 767.98px) {
		background-position: unset !important;
	    padding: 50px 0 !important;
		.text-content{
			margin-bottom:30px;
			h3{
				font-size: 20px;
    			line-height: 30px;
			}
			p{
				padding: 10px;
			}
		}
		.image{
			margin-right: 0;
		}
	}
	@media (min-width: 768px) and (max-width: 991.98px) {
	    padding: 70px 0 !important;
		.text-content{
			h3{
				font-size: 25px;
    			line-height: 40px;
			}
			p{
				padding: 20px;
			}
		}
		.image{
			margin-right: 0;
		}
	}
}
.glass-feature-row{
	.service-section {
	    overflow: hidden;
	    z-index: 9;
	    position: relative;
	}
	.feature-box{
		padding: 20px;
		&:hover{
			.service-image{
				span{
					transform: rotateY(-360deg);
				    -webkit-transform: rotateY(-360deg);
				    -moz-transform: rotateY(-360deg);
				    -ms-transform: rotateY(-360deg);
				    -o-transform: rotateY(-360deg);
				    transition: all 0.5s ease 0s;
				    -webkit-transition: all 0.5s ease 0s;
				    -moz-transition: all 0.5s ease 0s;
				    -ms-transition: all 0.5s ease 0s;
				    -o-transition: all 0.5s ease 0s;
				}
			}
			.service-info{
				h2{
					color: #ecba78;
				}
			}
		}
	}
	.service-image{
		margin-right:20px;
		span{
			font-size:38px;
			transition: all 0.5s ease 0s;
		    -webkit-transition: all 0.5s ease 0s;
		    -moz-transition: all 0.5s ease 0s;
		    -ms-transition: all 0.5s ease 0s;
		    -o-transition: all 0.5s ease 0s;
		    color:#000;
		    position: relative;
    		z-index: 1;
		}
		span:after {
		    content: "";
		    width: 38px;
		    height: 38px;
		    position: absolute;
		    background-color: #f5d9b4;
		    border-radius: 100%;
		    display: inline-block;
		    z-index: -1;
		    left: -16px;
		    top: -4px;
		}
	}
	.service-info{
		h2{
			font-weight: 500;
		    font-size: 20px;
		    margin-bottom: 0;
		    text-transform: uppercase;
		    display: block;
		    color: #2a2a2a;
		}
		p{
			font-size: 14px;
		    color: #8e8e8e;
		    padding-top: 5px;
		    display: inline-block;
		}
	}
	@media (max-width: 767.98px) {
		.service-section {
		    margin: 30px 0 !important;
		}
		.feature-box{
			display:block !important;
			text-align:center;
		}
		.service-image{
			margin-bottom:15px;
			margin-right:0px !important;
		}
	}
	@media (min-width: 768px) and (max-width: 991.98px) {
		.service-section {
		    margin: 30px 0 !important;
		}
	}
}
.glass-collection{
	.collection-centent{
		h3{
			color: #2a2a2a;
		    font-size: 36px;
		    text-transform: uppercase;
		    line-height: 50px;
		}
		p{
			color: #8e8e8e;
		    font-size: 16px;
		    line-height: 30px;
		    padding-bottom: 35px;
		    padding-top: 20px;
		    margin: 0;
		}
		.btn{
			font-size: 12px;
			padding: 12px 30px;
			display: inline-block;
			border-radius: 50px;
			text-transform: uppercase;
		}
	}
	.image{
		position: relative;
    	overflow: hidden;
    	a{
    		display: inline-block;
		    position: relative;
		    width: 100%;
    	}
    	a:before {
		    position: absolute;
		    width: 90%;
		    content: "";
		    left: 50%;
		    bottom: 50%;
		    height: 70%;
		    background-color: rgba(255,255,255,.3);
		    zoom: 1;
		    background-color: transparent\9;
		    -webkit-transform: translate(-50%,50%) scaleY(0);
		    -moz-transform: translate(-50%,50%) scaleY(0);
		    -ms-transform: translate(-50%,50%) scaleY(0);
		    -o-transform: translate(-50%,50%) scaleY(0);
		    transform: translate(-50%,50%) scaleY(0);
		    -webkit-transition: all .4s cubic-bezier(.25,.46,.45,.94);
		    -moz-transition: all .4s cubic-bezier(.25,.46,.45,.94);
		    -ms-transition: all .4s cubic-bezier(.25,.46,.45,.94);
		    -o-transition: all .4s cubic-bezier(.25,.46,.45,.94);
		    transition: all .4s cubic-bezier(.25,.46,.45,.94);
		}
		a:after {
		    position: absolute;
		    width: 70%;
		    content: "";
		    left: 50%;
		    bottom: 50%;
		    height: 90%;
		    background-color: rgba(255,255,255,.3);
		    zoom: 1;
		    background-color: transparent\9;
		    -webkit-transform: translate(-50%,50%) scaleX(0);
		    -moz-transform: translate(-50%,50%) scaleX(0);
		    -ms-transform: translate(-50%,50%) scaleX(0);
		    -o-transform: translate(-50%,50%) scaleX(0);
		    transform: translate(-50%,50%) scaleX(0);
		    -webkit-transition: all .4s cubic-bezier(.25,.46,.45,.94);
		    -moz-transition: all .4s cubic-bezier(.25,.46,.45,.94);
		    -ms-transition: all .4s cubic-bezier(.25,.46,.45,.94);
		    -o-transition: all .4s cubic-bezier(.25,.46,.45,.94);
		    transition: all .4s cubic-bezier(.25,.46,.45,.94);
		}
		a:hover:before {
		    -webkit-transform: translate(-50%,50%) scaleY(1);
		    -moz-transform: translate(-50%,50%) scaleY(1);
		    -ms-transform: translate(-50%,50%) scaleY(1);
		    -o-transform: translate(-50%,50%) scaleY(1);
		    transform: translate(-50%,50%) scaleY(1);
		}
		a:hover:after {
		    -webkit-transform: translate(-50%,50%) scaleX(1);
		    -moz-transform: translate(-50%,50%) scaleX(1);
		    -ms-transform: translate(-50%,50%) scaleX(1);
		    -o-transform: translate(-50%,50%) scaleX(1);
		    transform: translate(-50%,50%) scaleX(1);
		}
	}
	@media (max-width: 767.98px) {
		.collection-centent{
			text-align:center;
			h3{
				font-size: 20px;
    			line-height: 30px;
			}
			p{
				padding: 10px;
			}
			.w-75{
				width:100% !important;
			}
		}
	}
	@media (min-width: 768px) and (max-width: 991.98px) {
		.collection-centent{
			h3{
				font-size: 20px;
    			line-height: 30px;
			}
			p{
				font-size: 15px;
    			line-height: 25px;
				padding: 10px;
			}
			.w-75{
				width:100% !important;
			}
		}
	}
}
.editor_enable{
	.glass-about .image a:before {
		position:unset !important;
	}
	.glass-about .image a:after {
		position:unset !important;
	}
	.glass-image-text .image a:before, .glass-image-text .image a:after {
		position:unset !important;
	}
	.glass-collection .image a:before {
		position:unset !important;
	}
	.glass-collection .image a:after {
		position:unset !important;
	}
}