.jewellery-home-banner{
	.carousel-item{
		background-size: cover;
		background-position: center;
		padding: 240px 0;
	}
	.banner-content{
		h1{
			font-size:62px;
			color:theme-color('secondary');
			line-height:60px;
			text-transform: uppercase;
			font-weight:400;
			span{
				border-top:1px solid theme-color('secondary');
				border-bottom:1px solid theme-color('secondary');
				display: inline-block;
			}
		}
		h2{
			font-size:52px;
			color:#252525;
			line-height:60px;
			text-transform: uppercase;
			margin:0;
			font-weight:400;
		}
	}
	.carousel-indicators{
		li{
			position: relative;
			width: 11px;
    		height: 11px;
		    border-radius: 50%;
		    margin: 0 5px;
    		opacity: 1;
		    -webkit-transition: 0.2s;
		    -moz-transition: 0.2s;
		    -ms-transition: 0.2s;
		    -o-transition: 0.2s;
		    transition: 0.2s;
		    background-color: theme-color('secondary');
		}

		li.active{
			background-color: #e6ccc0 !important;
		}
		li:hover{
			background-color: #e6ccc0;
		}
	}
	.slider-control{
		.carousel-control-prev , .carousel-control-next{
			span{
				height: 64px;
    			width: 64px;
			    position: absolute;
			    display: block;
			    z-index: 100;
			    background-color: transparent;
    			border: 2px solid theme-color('secondary');
    			color: theme-color('secondary');
			    line-height: 60px;
			    border-radius: 100%;
			    font-size: 40px;
			    opacity: 0;
			    -khtml-opacity: 0;
			    -webkit-opacity: 0;
			    -moz-opacity: 0;
			    -webkit-transition: all 0.3s ease-in-out;
			    -moz-transition: all 0.3s ease-in-out;
			    -ms-transition: all 0.3s ease-in-out;
			    -o-transition: all 0.3s ease-in-out;
			    transition: all 0.3s ease-in-out;
			    transition: all .3s ease;
			}
			span:hover{
				border-color:#e6ccc0 !important;
				color: #e6ccc0 !important;
			}
		}
	}
	.bs-slider:hover{
		.slider-control{
			color: #e6ccc0 !important;
			span{
				opacity: 1;
			    -khtml-opacity: 1;
			    -webkit-opacity: 1;
			    -moz-opacity: 1;
			    -webkit-transition: all 0.3s ease-in-out;
			    -moz-transition: all 0.3s ease-in-out;
			    -ms-transition: all 0.3s ease-in-out;
			    -o-transition: all 0.3s ease-in-out;
			    transition: all 0.3s ease-in-out;
			}
		}
	}
	@media (max-width: 767.98px) {
		.carousel-item{
			padding: 75px 0 !important;
		}
		.banner-content{
			h1{
				font-size: 22px;
				line-height: 30px;
			}
			h2{
				font-size: 18px;
				line-height: 20px;
			}
		}
	}
	@media (min-width: 768px) and (max-width: 991.98px) {
		.carousel-item{
			padding: 145px 0 !important;
		}
		.banner-content{
			h1{
				font-size: 42px;
				line-height: 50px;
			}
			h2{
				font-size: 36px;
				line-height: 45px;
			}
		}
	}
}
.jewellery-aboutus-welcome-shop{
	.title{
		margin-bottom:40px;
		h1{
			font-size: 36px;
		    letter-spacing: 0.9px;
		    line-height: 40px;
		    color: theme-color('secondary');
		    text-transform: uppercase;
		    font-weight: 400;
		}
	}
	.description{
		font-size: 12px;
	    letter-spacing: 0.7px;
	    line-height: 30px;
	    color: #787878;
	    margin-bottom: 40px;
	    padding: 0;
	}
	.image{
		position: relative;
    	overflow: hidden;

    	a::before {
		    position: absolute;
		    content: '';
		    width: 100%;
		    height: 100%;
		    z-index: 1;
		    -webkit-transform: scale(0);
		    -ms-transform: scale(0);
		    -o-transform: scale(0);
		    transform: scale(0);
		    -webkit-transition: all 500ms ease-in;
		    -o-transition: all 500ms ease-in;
		    transition: all 500ms ease-in;
		    background-color: rgba(230, 204, 192, 0.3);
		}
	}
	.image:hover a::before {
	    -webkit-transform: scale(1);
	    -ms-transform: scale(1);
	    -o-transform: scale(1);
	    transform: scale(1);
	}
	@media (max-width: 767.98px) {
		.title{
			margin-bottom:20px;
			h1{
				font-size: 26px;
			}
		}
		.description{
			margin-bottom:20px;
		}
	}
	@media (min-width: 768px) and (max-width: 991.98px) {
		.title{
			margin-bottom:20px;
		}
		.description{
			margin-bottom:20px;
		}
	}
}

.editor_enable{
	.jewellery-aboutus-welcome-shop{
		.image{
			a::before {
				-webkit-transform: scale(0) !important;
			    -ms-transform: scale(0) !important;
			    -o-transform: scale(0) !important;
			    transform: scale(0) !important;
			}
		}
	}
}

.jewellery-products{
	.banner-box{
		overflow: hidden;
    	position: relative;
	}
	img{
		transform: scale(1);
	    -webkit-transform: scale(1);
	    -moz-transform: scale(1);
	    -ms-transform: scale(1);
	    -o-transform: scale(1);
	    transition: all 0.9s ease 0s;
	    -webkit-transition: all 0.9s ease 0s;
	    -moz-transition: all 0.9s ease 0s;
	    -ms-transition: all 0.9s ease 0s;
	    -o-transition: all 0.9s ease 0s;
	}
	.banner_content {
	    position: absolute;
	    right: 0;
	    top: 27.4%;
	    text-align: center;
	    left: auto;
	    width: 50%;
	    transition: all 0.5s ease 0s;
	    -webkit-transition: all 0.5s ease 0s;
	    -moz-transition: all 0.5s ease 0s;
	    -ms-transition: all 0.5s ease 0s;
	    -o-transition: all 0.5s ease 0s;

	    .title {
		    color: #fff;
		    font-size: 28px;
		    font-weight: 400;
		    line-height: 32px;
		    text-transform: uppercase;
		    display: inline-block;
		    position: relative;
		    text-align: center;
		    font-family: 'Quicksand', sans-serif;
		    letter-spacing: 0;
		    margin-bottom: 7px;
		}
		.title2 {
		    color: #fff;
		    text-transform: capitalize;
		    font-size: 14px;
		    text-align: center;
		    line-height: 20px;
		    font-weight: 300;
		    letter-spacing: 0.9px;
		    margin-bottom: 30px;
		}
		.btn-link {
		    color: #fff;
		    display: inline-block;
		    font-size: 12px !important;
		    font-weight: 700;
		    letter-spacing: 0.8px;
		    margin: 30px auto 0;
		    padding: 6px 19px;
		    position: relative;
		    text-align: center;
		    text-transform: uppercase;
		    line-height: 20px;
		    text-decoration:none;
		}
	}
	.banner-box:hover{
		 img {
		    transform: scale(1.1);
		    -webkit-transform: scale(1.1);
		    -moz-transform: scale(1.1);
		    -ms-transform: scale(1.1);
		    -o-transform: scale(1.1);
		    transition: all 0.9s ease 0s;
		    -webkit-transition: all 0.9s ease 0s;
		    -moz-transition: all 0.9s ease 0s;
		    -ms-transition: all 0.9s ease 0s;
		    -o-transition: all 0.9s ease 0s;
		}
		.banner_content {
		    right: 1%;
		    transition: all 0.5s ease 0s;
		    -webkit-transition: all 0.5s ease 0s;
		    -moz-transition: all 0.5s ease 0s;
		    -ms-transition: all 0.5s ease 0s;
		    -o-transition: all 0.5s ease 0s;
		}
	}
	@media (max-width: 767.98px) {
		.banner_content {
		    top: 20%;
		    width: 55%;
		    right: 0;

		    .title {
			    font-size: 20px;
			    line-height: 20px;
			}
			.title2 {
			    font-size: 13px;
			    line-height: 18px;
			    margin-bottom: 0px;
			}
			.btn {
			    margin: 0px auto 0;
			}
		}
	}
	@media (min-width: 768px) and (max-width: 991.98px) {
		.banner_content {
		    width: 60%;
    		top: 18%;

		    .title {
			    font-size: 24px;
			}
			.title2 {
			    margin-bottom: 6px;
			}
			.btn {
			    margin: 0 auto;
			}
		}
	}
	@media (min-width: 992px) and (max-width: 1199.98px) {
		.banner_content {
		    width: 56%;

		    .title {
			    font-size: 24px;
			}
			.title2 {
			    margin-bottom: 10px;
			}
			.btn {
			    margin: 20px auto 0;
			}
		}
	}
}
.jewellery-brand-slider{
	.product-inner{
		position: relative;
    	overflow: hidden;
    	padding: 0;
    	margin: 0 1rem;
    	display: inline-block;
	    max-width: 150px;
    	img {
		    -webkit-filter: grayscale(0%);
		    filter: grayscale(0%);
		    transition: filter 0.3s, box-shadow 0.3s;
		    -webkit-transition: filter 0.3s, -webkit-filter 0.3s, box-shadow 0.3s;
		}
	}
	.product-inner:hover img {
	    -webkit-filter: grayscale(100%) brightness(0) contrast(1);
	    filter: grayscale(100%) brightness(0) contrast(1);
	    transition: filter 0.3s, box-shadow 0.3s;
	    -webkit-transition: filter 0.3s, -webkit-filter 0.3s, box-shadow 0.3s;
	}

	.slider-control{
		 a{
		    color: theme-color('secondary') !important;
		    font-size: 40px;
		    cursor: pointer;
		    overflow: hidden;
		    padding: 0;
		    width: 12% !important;
		    transition: all 0.3s ease 0s;
		    -webkit-transition: all 0.3s ease 0s;
		    -moz-transition: all 0.3s ease 0s;
		    -ms-transition: all 0.3s ease 0s;
		    -o-transition: all 0.3s ease 0s;
		}
		a:hover{
		    color: #e6ccc0 !important;
		}
	}
}
.jewellery-parallax-banner{
	min-height: 600px;
	position: relative;
    width: 100%;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .parallex_content{
	    position: relative;
	    float: left;
	    width: 100%;
	    margin: 161px auto 0;
	    padding: 15px;
	    display: inline-block;
	    overflow: hidden;
	    clear: both;
	}
    .subtitle{
    	color: #c5937c;
	    font-size: 12px;
	    line-height: 24px;
	    text-transform: uppercase;
	    width: 100%;
	    letter-spacing: 3px;
    }
    .title{
    	display: inline-block;
	    color: theme-color('secondary');
	    line-height: 54px;
	    font-size: 40px;
	    letter-spacing: 1.5px;
	    position: relative;
	    margin: 18px auto 23px;
	    font-weight: 400;
	    font-family: 'Quicksand', sans-serif;
	    text-transform: uppercase;
	    border-top: 1px solid theme-color('secondary');
	    border-bottom: 1px solid theme-color('secondary');
	    padding: 6px 0;
    }
    .title2 {
	    color: theme-color('secondary');
	    font-size: 22px;
	    line-height: 24px;
	    text-transform: capitalize;
	    margin-bottom: 85px;
	    width: 100%;
	    letter-spacing: 3px;
	    font-family: 'Quicksand', sans-serif;
	}
	.btn{
		font-size: 12px;
	    text-transform: uppercase;
	    line-height: 20px;
	    letter-spacing: 0.6px;
	    display: inline-block;
	    padding: 11px 30px;
	    font-weight: 700;
	    border-radius: 0;
	}
	@media (max-width: 767.98px) {
		min-height: 400px;
		.parallex_content{
			margin: 100px auto;
		}
		.title{
			line-height: 40px;
    		font-size: 18px;
		}
		.title2{
			font-size: 20px;
		}
	}
	@media (min-width: 768px) and (max-width: 991.98px) {
		min-height: 100%;
		.parallex_content{
			margin: 100px auto;
		}
	}
}
.jewellery-client-testimonial{
	.heading {
	    display: inline-block;
	    color: theme-color('secondary');
	    line-height: 32px;
	    font-size: 36px;
	    letter-spacing: 1px;
	    position: relative;
	    width: 100%;
	    text-align: center;
	    text-transform: uppercase;
	    padding: 0;
	    font-weight: 400;
	    margin-bottom: 37px;
	    font-family: 'Quicksand', sans-serif;
	}
	.testimonial-inner{
		position: relative;
	    display: inline-block;
	    width: 100%;
	    padding: 38px 30px;
	    border: 1px solid #ececec;
	}
	.slider-item {
		overflow: hidden;
	    position: relative;
	    width: 100%;
	    display: inline-block;

	    .slider_left{
	    	position: relative;
    		float: left;
    		min-width: 28%;
	    }
	    .image-block {
		    position: relative;
		    display: inline-block;
		    width: 100%;
		    cursor: pointer;
		    text-align: right;
		    border-right: 1px solid #f5f5f5;
		}
		.image{
			border-radius: 100%;
		    -webkit-border-radius: 100%;
		    -khtml-border-radius: 100%;
		    -moz-border-radius: 100%;
		    position: relative;
		    display: inline-block;
		    margin-right: 56px;
		}
		img {
		    position: relative;
		    border-radius: 100%;
		    -webkit-border-radius: 100%;
		    -khtml-border-radius: 100%;
		    -moz-border-radius: 100%;
		    width: 150px;
		    height: 150px;
		}
		.slider_right{
			min-width: 71.9%;
		    position: relative;
		    float: left;
		    margin: 0 auto;
		}
		.description {
		    display: inline-block;
		    padding: 8px 5%;
		    position: relative;
		    width: 100%;
		    text-align: left;
		    margin-bottom: 22px;

		     p {
			    color: #6d6d6d;
			    margin: 0 auto;
			    text-overflow: ellipsis;
			    white-space: normal;
			    font-size: 12px;
			    letter-spacing: 0.8px;
			    line-height: 24px;
			    font-weight: 400;
			}
		}
		.author {
		    float: left;
		    text-align: left;
		    padding: 0 5%;
		    width: 100%;
		    position: relative;
		    display: inline-block;

		     a {
			    text-transform: uppercase;
			    color: theme-color('secondary');
			    font-size: 12px;
			    line-height: 20px;
			    letter-spacing: 1px;
			    text-decoration: none;
			    border: medium none !important;
			    display: inline-block;
			    font-weight: 700;
			}
			a:hover{
				color: #e6ccc0 !important;
				text-decoration:none;
			}
			.designation {
			    color: #9c9c9c;
			    font-size: 12px;
			    text-transform: capitalize;
			    display: inline-block;
			    position: relative;
			    font-style: italic;
			    margin-left: 6px;
			    letter-spacing: 1px;
			}
		}
	}
	.carousel-indicators{
		right: 32%;
    	bottom: -20px;
		li{
			position: relative;
			width: 8px;
    		height: 8px;
		    border-radius: 50%;
		    margin: 0 5px;
    		opacity: 1;
		    -webkit-transition: 0.2s;
		    -moz-transition: 0.2s;
		    -ms-transition: 0.2s;
		    -o-transition: 0.2s;
		    transition: 0.2s;
		    background-color: theme-color('secondary');
		}

		li.active{
			background-color: #e6ccc0 !important;
		}
		li:hover{
			background-color: #e6ccc0;
		}
	}
	@media (max-width: 767.98px) {
		.heading{
			font-size: 24px;
    		line-height: 24px;
		}
		.testimonial-inner{
			padding: 40px 15px;
		}
		.slider-item {
			display: block !important;
			.slider_left{
				width:100%;
			}
			.image-block{
				text-align: center;
				border-right: none;
			}
			.image{
				margin-right:0;
			}
			.slider_right{
				width:100%;
			}
			.description{
				text-align: center;
			}
			.author{
				text-align: center;
				display:block;
				a{
					display:block;
				}
				.designation {
					display:block;
				}
			}
		}
		.carousel-indicators{
			right: 0;
	    	bottom: -45px;
	    }
	}
	@media (min-width: 768px) and (max-width: 991.98px) {
		.carousel-indicators{
			right: 30%;
	    	bottom: -25px;
	    }
	}
}
.o_editable{
	.aboutus-welcome-shop{
		.image a::before {
			position:unset !important;
		}
	}
}