.medical-home-banner{
	.carousel-item{
		background-size: cover;
		background-position: center;
		padding: 160px 0;
	}
	.banner-content{
		h1{
			color: #ffffff;
			font-size: 65px;
		    font-weight: 600;
		    letter-spacing: 0;
		    text-transform: none;
		    position: relative;
		    margin: 0 0 20px;
		}
		p{
			display: block;
		    font-size: 26px;
		    font-weight: 400;
		    letter-spacing: 0;
		    text-transform: none;
		    font-style: normal;
		    margin: 0 0 50px;
		    color: #fff;

		    span{
		    	font-size: 35px;
    			font-weight: bold;
    			color:theme-color('o-color-4');
		    }
		}
		.btn{
		    font-size: 16px;
		    font-weight: 600;
		    padding: 10px 35px;
		    border-radius: 5px;
    		line-height: 24px;
		}
	}
	.carousel-indicators{
		opacity:1;
		li{
			position: relative;
			width: 13px;
		    height: 13px;
		    border-radius: 50%;
		    margin: 5px;
		    background-color: #ffffff;
    		border: 2px solid #ffffff;
		    -webkit-transition: 0.2s;
		    -moz-transition: 0.2s;
		    -ms-transition: 0.2s;
		    -o-transition: 0.2s;
		    transition: 0.2s;
		    opacity:1;
		}

		li.active{
			background-color: #07a8ff;
    		border-color: #ffffff;
		}
		li:hover{
			background-color: #07a8ff;
    		border-color: #ffffff;
		}
	}
	.slider-control{
		.carousel-control-prev , .carousel-control-next{
			width: 10% !important;
			z-index:3;
			opacity:1;
			span{
				width: 60px;
			    height: 60px;
			    line-height: 60px;
			    font-size: 27px;
    			color: #fff;
			    z-index: 10;
			    cursor: pointer;
			    background-color: #222;
			    transition: all 0.3s ease 0s;
			    -moz-transition: all 0.3s ease 0s;
			    -webkit-transition: all 0.3s ease 0s;
			    -ms-transition: all 0.3s ease 0s;
			    box-shadow: 0px 3px 6px 0 rgba(0, 0, 0, 0.15);
			    -ms-box-shadow: 0px 3px 6px 0 rgba(0, 0, 0, 0.15);
			    -moz-box-shadow: 0px 3px 6px 0 rgba(0, 0, 0, 0.15);
			    -webkit-box-shadow: 0px 3px 6px 0 rgba(0, 0, 0, 0.15);
			    transform: scale(0);
			    -moz-transform: scale(0);
			    -ms-transform: scale(0);
			    border-radius:100%;
			    &:hover{
			    	background-color: #1377f1;
			    	color: #fff;
			    }
			}
		}
	}
	.bs-slider:hover{
		.slider-control{
			.carousel-control-prev , .carousel-control-next{
				span{
					transform: scale(1);
				    -moz-transform: scale(1);
				    -ms-transform: scale(1);
				}
			}
		}
	}
	@media (max-width: 767.98px) {
		.carousel-item{
			padding: 25px 0 !important;
		}
		.banner-content{
			h1{
				font-size: 16px;
			}
			p{
				font-size: 14px;
				span{
					font-size: 14px;
				}
			}
			.btn{
				display:none;
			}
		}
	}
	@media (min-width: 768px) and (max-width: 991.98px) {
		.carousel-item{
			padding: 60px 0 !important;
		}
		.banner-content{
			h1{
				font-size: 35px;
			}
			p{
				font-size: 20px;
				span{
					font-size: 20px;
				}
			}
			.btn{
				display:none;
			}
		}
	}
	@media (min-width: 992px) and (max-width: 1199.98px) {
		.carousel-item{
			padding: 80px 0 !important;
		}
		.banner-content{
			h1{
				font-size: 40px;
			}
			p{
				font-size: 25px;
				span{
					font-size: 25px;
				}
			}
		}
	}
}
.medical-Durability{
	.heading-content{
		.title{
			margin-bottom:60px;
			.subtitle{
				text-transform: uppercase;
			    font-weight: bold;
			    position: relative;
			    margin: 0;
			    font-size:13px;
			}
			h3{
				text-transform: none;
			    margin: 15px 0 15px;
			    position: relative;
			    font-size: 36px;
			    font-weight: 600;
			    line-height: 40px;
			    letter-spacing: 0;
			}
			p{
				text-align: center;
			    display: inline-block;
			    margin: 0;
			    font-size: 16px;
			    font-weight: 300;
			    line-height: 26px;
			    color: #666666;
			}
		}
	}
	.text-content{
		.content{
			h3{
				color:theme-color('o-color-4');
				font-size: 18px;
				font-weight: bold;
				line-height: 26px;
			}
			p{
				color: #666666;
				font-size: 13px;
				line-height: 26px;
    			margin: 0 0 30px;
			}
		}
	}
	@media (max-width: 767.98px) {
		.heading-content{
			.title{
				h3{
					font-size: 24px;
				}
			}
		}
	}
}
.medical-Prevention{
	padding: 100px 0px 80px 0px;
    background-color: #fbfbfb;
	.heading-content{
		.title{
			margin-bottom:60px;
			.subtitle{
				text-transform: uppercase;
			    font-weight: bold;
			    position: relative;
			    margin: 0;
			    font-size:13px;
			}
			h3{
				text-transform: none;
			    margin: 15px 0 15px;
			    position: relative;
			    font-size: 36px;
			    font-weight: 600;
			    line-height: 40px;
			    letter-spacing: 0;
			}
			p{
				text-align: center;
			    display: inline-block;
			    margin: 0;
			    font-size: 16px;
			    font-weight: 300;
			    line-height: 26px;
			    color: #666666;
			}
		}
	}
	.Prevention-content{
		background-color: #fff;
	    margin: 0 0 30px;
	    padding: 30px;
	    box-shadow: 5px 20px 30px 0px rgba(0, 0, 0, 0.06);
	    -webkit-border-radius: 10px;
	    -khtml-border-radius: 10px;
	    -moz-border-radius: 10px;
	    -ms-border-radius: 10px;
	    -o-border-radius: 10px;
	    border-radius: 10px;
	    -webkit-transition: all 0.5s ease-in-out;
	    -o-transition: all 0.5s ease-in-out;
	    transition: all 0.5s ease-in-out;
	    border: 1px solid #eee;
	    text-align: center;
	    .image span{
	    	height:60px;
	    	width:60px;
	    	margin:0 auto;
	    	background-color:#0871d1;
    		color:#fff;
    		line-height:60px;
	    }
	    .info{
			h4{
				color: theme-color('o-color-4');
			    font-weight: 600;
			    font-size: 14px;
			    line-height: 30px;
			    text-transform: none;
			    margin: 30px 0 10px;
			    letter-spacing: 0;
			}
			p{
				color: #666666;
				margin: 0;
			    font-size: 13px;
			    line-height: 24px;
			}
		}
	}
	
	@media (max-width: 767.98px) {
		padding: 30px 0px !important;
		.heading-content{
			.title{
				h3{
					font-size: 24px;
				}
			}
		}
	}
	@media (min-width: 768px) and (max-width: 991.98px) {
		padding: 50px 0px !important;
	}
}
.medical-client-testimonial{
	padding: 100px 0;
	background-repeat: no-repeat;
	.heading-content{
		.title{
			margin-bottom:60px;
			.subtitle{
				text-transform: uppercase;
			    font-weight: bold;
			    position: relative;
			    margin: 0;
			    font-size:13px;
			}
			h3{
				text-transform: none;
			    margin: 15px 0 15px;
			    position: relative;
			    font-size: 36px;
			    font-weight: 600;
			    line-height: 40px;
			    letter-spacing: 0;
			}
			p{
				text-align: center;
			    display: inline-block;
			    margin: 0;
			    font-size: 16px;
			    font-weight: 300;
			    line-height: 26px;
			    color: #fff;
			}
		}
	}
	.carousel-item{
		.client-content{
			text-align:center;
			.image{
				img{
					box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
				    border-radius: 10px;
				    padding: 4px;
				    background-color: #fff;
				}
				width: 80px;
				height: 80px;
				margin: auto;
			}
			.info{
				background-color: #fff;
			    border-radius: 10px;
			    padding: 50px 50px 20px;
			    margin: -40px 0 0;

			    p{
			    	margin: 30px 0;
			    	line-height: 24px;
			    	color: #666666;
		    		font-size: 14px;
			    }
			    span{
			    	color: #666666;
					margin: 0 0 10px;
				    font-size: 13px;
				    line-height: 24px;
				    text-transform: uppercase;
				    font-weight: bold;
			    }
			}
		}
	}
	.carousel-indicators{
		bottom: -50px !important;
		li{
			position: relative;
			width: 10px;
		    height: 10px;
		    border-radius: 50%;
		    margin: 5px;
		    background-color: #ffffff;
    		border: 2px solid #07a8ff;
		    -webkit-transition: 0.2s;
		    -moz-transition: 0.2s;
		    -ms-transition: 0.2s;
		    -o-transition: 0.2s;
		    transition: 0.2s;
		}

		li.active{
			background-color: #07a8ff;
    		border-color: #ffffff;
		}
		li:hover{
			background-color: #07a8ff;
    		border-color: #ffffff;
		}
	}
	@media (max-width: 767.98px) {
		padding: 50px 0px !important;
		.heading-content{
			.title{
				h3{
					font-size: 24px;
				}
			}
		}
	}
	@media (min-width: 768px) and (max-width: 991.98px) {
		padding: 50px 0px !important;
	}
}