.restaurant-extended-container{
	.container{
		max-width: 1440px;
	}
}
.restaurant-home-banner{
	.carousel-item{
		background-size: cover;
		background-position: center;
		padding: 180px 0;
	}
	.banner-content{
		display: inline-block;
    	background-color: rgba(0, 0, 0, 0.8);
    	border-radius: 20px;
    	padding: 30px 60px;
    	text-align:center;
    	.banner-icon{
    		margin-bottom:20px;
    	}
    	.banner-info{
    		h2{
	    		font-weight: 600;
			    font-size: 38px;
			    line-height:55px;
			    color: theme-color('restaurant-1');
			    margin-bottom: 20px;
			    span{
			    	color: theme-color('restaurant-2');
			    }
			}
			.btn{
    			padding: 10px 24px;
    			font-size: 18px;
    			border-radius: 30px;
			}
    	}
	}
	.slider-control{
		.carousel-control-prev , .carousel-control-next{
			width: 10% !important;
			z-index:3;
			opacity:1;
			span{
				font-size: 50px;
				color: #fff;
				font-weight: bold;
				opacity:0;
			}
		}
	}
	.bs-slider:hover{
		.slider-control{
			.carousel-control-prev , .carousel-control-next{
				span{
					opacity:1;
				}
			}
		}
	}
	@media (max-width: 767.98px) {
		.carousel-item{
			padding: 50px 0 !important;
		}
		.banner-content{
			padding: 30px 10px !important;
			.banner-icon{
	    		margin-bottom: 5px;
	    	}
			.banner-info{
				h2{
					font-size: 20px !important;
					line-height: 35px !important;
					span{
						font-size: 24px !important;
					}
				}
			}
		}
		.slider-control{
			.carousel-control-prev , .carousel-control-next{
				span{
					font-size: 20px;
				}
			}
		}
	}
	@media (min-width: 768px) and (max-width: 991.98px) {
		.carousel-item{
			padding: 70px 0 !important;
		}
		.banner-content{
			padding: 30px 50px !important;
			.banner-icon{
	    		margin-bottom: 10px;
	    	}
			.banner-info{
				h2{
					font-size: 30px !important;
					line-height: 45px !important;
				}
			}
		}
	}
}
.restaurant-taste{
	.taste-title{
		margin-bottom: 40px;
		text-align: center;
		h2{
			font-size: 27px;
			color: #000;
			margin: 0 0 15px;
			font-weight: 600;
			font-family: Yeseva One;
		}
	}
	.taste-content{
		text-align: center;
		.image{
			width: 100%;
		    overflow: hidden;
		    position: relative;
		    a {
			    -webkit-transition: all 0.4s ease-in-out;
			    -moz-transition: all 0.4s ease-in-out;
			    -ms-transition: all 0.4s ease-in-out;
			    -o-transition: all 0.4s ease-in-out;
			    transition: all 0.4s ease-in-out;
			}
			img {
			    border: 5px solid theme-color('restaurant-2');
			    -webkit-transition: all 0.4s ease-in-out;
			    -moz-transition: all 0.4s ease-in-out;
			    -ms-transition: all 0.4s ease-in-out;
			    -o-transition: all 0.4s ease-in-out;
			    transition: all 0.4s ease-in-out;
			    display: block;
			    position: relative;
			    border-radius: 50%;
			}
			.ovrly {
				background-color: rgba(theme-color('restaurant-2'), 0.7);
			    transform: scale(0);
			    border-radius: 50%;
			    position: absolute;
			    height: 100%;
			    width: 100%;
			    left: 0;
			    top: 0;
			    opacity: 0;
			    -webkit-transition: all 0.3s ease-in-out;
			    -moz-transition: all 0.3s ease-in-out;
			    -ms-transition: all 0.3s ease-in-out;
			    -o-transition: all 0.3s ease-in-out;
			    transition: all 0.3s ease-in-out;
			}
		}
		.info{
			margin-top: 30px;
			a:hover{
				text-decoration:none;
			}
			h4{
				margin-bottom: 20px;
    			font-size: 24px;
    			font-family: Yeseva One;
    			font-weight: 600;
    			color: theme-color('restaurant-1');
			}
			.btn{
				padding: 9px 30px;
   				font-size: 16px;
   				border-radius: 30px;
			}
		}
	}
	.taste-content:hover{
		.image{
			img {
			    border: 10px solid theme-color('restaurant-2');
			}
			.ovrly {
			    opacity: 1;
			    transform: scale(1);
			}
		}
	}
	@media (max-width: 767.98px) {
		.taste-content{
			margin-bottom: 30px;
		}
	}
}
.restaurant-image-slider{
	.side-image{
		background-size: cover;
		background-position: center;
	}
	.slider-content{
	    position: relative;
	}
	.banner-info{
	    position: absolute;
	    z-index: 1;
	    top: 13%;
	    left:10%;

	    h2{
	    	font-size: 35px;
	    	margin: 0 0 20px;
	    	color: theme-color('restaurant-1');
	    	font-family: Yeseva One;
    		font-weight: 600;
	    }
	    h3{
	    	font-weight: 300;
		    font-size: 40px;
		    margin: 0 0 20px;
		    line-height: 1;
		    color: #292929;
	    }
	    .btn{
			padding: 9px 30px;
			font-size: 16px;
			border-radius: 30px;
		}
	}
	.slider-control{
		.carousel-control-prev , .carousel-control-next{
			width: 10% !important;
			z-index:3;
			span{
				font-size: 24px;
				color: #fff;
				background-color: #000;
				font-weight: bold;
				width: 30px;
			    height: 30px;
			    line-height: 30px;
			    opacity: 0.5;
			    border-radius:100px;
			    &:hover{
			    	background-color: theme-color('restaurant-1');
				    color: #fff;
				    border-color: theme-color('restaurant-1');
				    opacity: 1;
			    }
			}
		}
	}
	@media (max-width: 767.98px) {
		.p-0{
			padding-right:15px !important;
			padding-left:15px !important;
		}
		.banner-info{
			h2{
				font-size: 18px;
				margin: 0 0 10px;
			}
			h3{
				font-size: 30px;
			}
			.btn{
				font-size: 14px;
    			padding: 7px 18px;
			}
		}
	}

	@media (min-width: 768px) and (max-width: 1199.98px) {
		.banner-info{
			h2{
				font-size: 18px;
				margin: 0 0 10px;
			}
			h3{
				font-size: 30px;
			}
			.btn{
				font-size: 14px;
    			padding: 7px 18px;
			}
		}
	}
}
.restaurant-counter{
	background-color: theme-color('restaurant-1');
	.counter-content{
		padding: 0 50px;
		height:100%;

		h2{
			font-size: 36px;
			margin-bottom: 15px;
			color: #ffffff;
			font-family: Yeseva One;
    		font-weight: 600;
		}
		p{
			font-size: 18px;
			color: #ffffff;
		}
	}
	.counter-info{
		text-align:left;
		.count-text{
			font-size: 38px;
			color: #ffffff;
			font-weight: bold;
			margin-bottom:10px;
		}
		.text{
			font-size: 18px;
    		text-transform: capitalize;
    		color: #ffffff;
		}
	}
	@media (max-width: 767.98px) {
		.counter-info{
			margin-bottom:15px;
		}
	}
	@media (max-width: 991.98px) {
		.counter-content{
			padding: 25px 50px;
		}
	}
	@media (min-width: 992px) and (max-width: 1199.98px) {
		.counter-content{
			.row{
				padding-top:0 !important;
			}
		}
	}
}
.restaurant-images{
	.image-content{
		position: relative;
		overflow: hidden;
		.image{
			position: relative;
		    width: 100%;
		    overflow: hidden;
		    img{
		    	display: block;
    			transition: all 2s linear;
		    }
		    &:hover{
		    	img{
		    		transform: scale(1.2);
		    	}
		    }
		}
		.image-info{
			background-color: rgba(0, 0, 0, 0.8);
			opacity: 1;
    		margin: 0;
		    padding: 30px;
		    overflow: hidden;
		    position: absolute;
		    bottom: 0;
		    text-align: left;
		}
		.info1{
			width:70%;
			right: 0;
		}
		.info2{
			width:40%;
			left: 0;
		}
		.info3{
			width:100%;
		}
		h3{
	    	font-size: 27px;
	    	color: #ffffff;
	    	margin: 0 0 15px;
	    	font-family: Yeseva One;
			font-weight: 600;
	    }
	    span{
	    	color: theme-color('restaurant-2');
	    	font-size: 24px;
	    	font-family: Josefin Sans;
	    }
	    .btn{
			padding: 10px 24px;
			font-size: 18px;
			border-radius: 30px;
		}
	}
	@media (max-width: 767.98px) {
		.image-content{
			.image-info{
				padding: 15px 10px;
			}
			h3{
				font-size: 20px;
				margin: 0 0 10px;
			}
			.info2{
				width:70%;
				right: 0;
				left:unset !important;
			}
		}
	}
	@media (min-width: 768px) and (max-width: 991.98px) {
		.image-content{
			.image-info{
				padding: 15px 10px;
			}
			h3{
				font-size: 20px;
				margin: 0 0 10px;
			}
		}
	}
	@media (min-width: 992px) and (max-width: 1199.98px) {
		.image-content{
			.image-info{
				padding: 20;
			}
			h3{
				font-size: 22px;
				margin: 0 0 15px;
			}
		}
	}
}
.restaurant-service-block{
	.container{
		width: 95%;
		margin:auto;
	}
	.support-section {
	    border: 1px solid #e4e4e4;
	    padding: 20px;
	    position: relative;
	    margin-bottom: 20px;

	    .front-section{
	    	padding: 0;
		    display: block;
		    width: 100%;
		    height: 100%;
		    margin-bottom: 0;
		    -moz-box-sizing: border-box;
		    -webkit-box-sizing: border-box;
		    box-sizing: border-box;
		    -webkit-backface-visibility: hidden;
		    backface-visibility: hidden;
		    -webkit-transition: 750ms;
		    transition: 750ms;
		    -webkit-transform-style: preserve-3d;
		    transform-style: preserve-3d;
		    -webkit-transform: rotateY(0);
		    -ms-transform: rotateY(0);
		    transform: rotateY(0);
		    overflow: hidden;

		    .front-info{
		    	border: 1px solid #e4e4e4;
			    padding: 20px 15px;
			    width: 100%;
			    height: 100%;

			    .icon span{
			    	color: theme-color('restaurant-2');
			    	font-weight: 900;
			    	font-size: 32px;
			    	margin-bottom: 10px;
			    }
			    .text{
			    	h6{
			    		color: #000;
			    		font-size: 20px;
					    margin: 0 0 3px;
					    font-family: Josefin Sans;
			    	}
			    	p{
			    		color: #000;
			    		margin: 0 0 15px 0;
			    		font-size: 18px;
			    	}
			    }
		    }
	    }
	    .back-section{
	    	background-color: #292929;
	    	position: absolute;
		    left: 0;
		    top: 0;
		    z-index: -1;
		    -webkit-transform: rotateY(-180deg);
		    -ms-transform: rotateY(-180deg);
		    transform: rotateY(-180deg);
		    overflow: hidden;
		    display: block;
		    width: 100%;
		    height: 100%;
		    margin-bottom: 0;
		    -moz-box-sizing: border-box;
		    -webkit-box-sizing: border-box;
		    box-sizing: border-box;
		    -webkit-backface-visibility: hidden;
		    backface-visibility: hidden;
		    -webkit-transition: 750ms;
		    transition: 750ms;
		    -webkit-transform-style: preserve-3d;
		    transform-style: preserve-3d;

		    .back-info{
		    	width: 100%;
			    height: 100%;
			    padding: 12px;
			    margin: 0 auto;
			    .text{
			    	position: absolute;
				    left: 0;
				    right: 0;
				    padding: 30px;
				    top: 50%;
				    transform: translateY(-50%);
				    -webkit-transform: translateY(-50%);
				    -ms-transform: translateY(-50%);
				    -o-transform: translateY(-50%);

				    p{
				    	font-size: 24px;
					    font-weight: 100;
					    color: #fff;
				    }
				    .btn{
						padding: 10px 24px;
						font-size: 16px;
						border-radius: 30px;
					}
			    }
		    }
	    }
	}
	.support-section:hover {
		.front-section{
		    -webkit-transform: rotateY(180deg);
		    -ms-transform: rotateY(180deg);
		    transform: rotateY(180deg);
		}
		.back-section{
		    -webkit-transform: rotateY(0);
		    -ms-transform: rotateY(0);
		    transform: rotateY(0);
		    z-index: 2;
		}
	}
}
.restaurant-banner-image {
	background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 150px 0;
    .banner-content{
    	h3{
    		font-size: 62px;
    		color: #ffffff;
    		letter-spacing: 20px;
    		margin-bottom:15px;
    		font-family: Yeseva One;
    		font-weight: 600;
    	}
    	h4{
    		font-size: 104px;
    		color: #ffffff;
    		margin-bottom:15px;
    		font-family: Yeseva One;
    		font-weight: 600;
    		span{
    			color: theme-color('restaurant-2');
    		}
    	}
    	p{
    		font-size: 24px;
    		color: #ffffff;
    		margin-bottom:30px;
    		text-transform: uppercase;
    		font-family: Josefin Sans;
    	}
    	.btn{
			padding: 15px 30px;
			font-size: 16px;
			border-radius: 30px;
		}
    }
    .image{
    	img{
    		border: 5px solid theme-color('restaurant-2');
    		border-radius:0;
    	}
    }
    @media (max-width: 767.98px) {
    	padding: 80px 0 !important;
    	.banner-content{
    		h3{
    			font-size: 35px;
    		}
    		h4{
    			margin-bottom: 10px;
    			font-size: 35px;
    		}
    		p{
    			font-size: 15px;
    			line-height: 1.7;
    		}
    	}
    }
}


.editor_enable{
	.restaurant-taste .taste-content:hover .image .ovrly {
		margin-top: 100px;
	}
	.restaurant-service-block .support-section {
		.back-section {
			position: unset !important;
			transform: unset !important;
			.back-info .text {
				position: unset !important;
				transform: unset !important;
			}
		}
		&:hover{
			.front-section{
			   transform: unset !important;
			}
		}
	}
}