.sports-extended-container{
	.container{
		max-width: 1440px;
	}
}
.sport-home-banner{
	.carousel-item{
		background-size: cover;
		background-position: center;
		padding: 340px 0;
	}
	.banner-content{
		h1{
			color: #fff;
			font-size: 60px;
		    font-weight: 600;
		    text-transform: capitalize;
		}	
		p{
		    font-size: 24px;
		    font-weight: 400;
		    padding-top: 10px;
		    color: #fff;
		}
		.btn{
			font-size: 15px;
    		padding: 15px 45px;
		    font-weight: 600;
		    text-transform: uppercase;
		    border-radius:0;
		}
	}
	.carousel-indicators{
		opacity:1;
		li{
			position: relative;
			width: 12px;
		    height: 12px;
		    border-radius: 50%;
		    margin: 5px;
		    background-color: transparent;
    		border: 2px solid #ffffff;
		    -webkit-transition: 0.2s;
		    -moz-transition: 0.2s;
		    -ms-transition: 0.2s;
		    -o-transition: 0.2s;
		    transition: 0.2s;
		    opacity:1;
		}

		li.active{
			background-color: #fac261;
   			border: 2px solid #fac261;
		}
		li:hover{
			background-color: #fac261;
    		border: 2px solid #fac261;
		}
	}
	@media (max-width: 767.98px) {
		.carousel-item{
			padding: 100px 0 !important;
		}
		.banner-content{
			h1{
				font-size: 40px;
			}
			p{
				font-size: 20px;
				padding: 0;
			}
			.btn{
				font-size: 12px;
    			padding: 12px 30px;
			}
		}
	}
	@media (min-width: 768px) and (max-width: 991.98px) {
		.carousel-item{
			padding: 150px 0 !important;
		}
		.banner-content{
			h1{
				font-size: 50px;
			}
			p{
				font-size: 20px;
				padding: 0;
			}
			.btn{
				font-size: 12px;
    			padding: 12px 30px;
			}
		}
	}
	@media (min-width: 992px) and (max-width: 1199.98px) {
		.carousel-item{
			padding: 200px 0 !important;
		}
	}
}
.sport-brand-slider{
	.carousel-item{
		img{
			margin: 0 auto;
		    opacity: 0.5;
		    transition: all .3s ease;
		}
		img:hover {
		    opacity: 1;
		    transition: all .3s ease;
		}
	}
}
.sport-collection{
	.title{
		text-align: center;
		margin-bottom: 14px;
		font-size: 40px;
	    font-weight: 700;
	    color: #333;
	}
	.collection-content{
		.info{
			padding-top: 22px;
			h3{
				color: #333;
				font-size: 1.75rem;
    			margin-bottom: 7px;
    			font-weight: 600;
			}
			a{
				font-size: 16px;
    			color: #333;
    			text-decoration: none;
			}
		}
		.sale-info{
			h3{
				color: #fff;
				font-size: 40px;
    			margin-bottom: 30px;
    			font-weight: 600;
			}
			p{
				font-size: 22px;
				font-weight: 400;
				color: #fff;
				margin-bottom: 35px;
			}
			.btn{
				font-size: 15px;
    			padding: 15px 45px;
    			border-radius:0;
    			text-decoration: none ;
    			text-transform: uppercase;
			}
		}
	}
	@media (max-width: 767.98px) {
		.title{
			font-size: 30px;
		}
		.collection-content{
			.sale-info{
				h3{
					font-size: 30px;
		    		margin-bottom: 15px;
				}
				p{
					font-size: 16px;
	    			margin-bottom: 30px;
				}
				.btn{
					font-size: 12px;
	    			padding: 12px 30px;
				}
			}
		}
		padding: 96px 0 !important;
	}
	@media (min-width: 768px) and (max-width: 991.98px) {
		.title{
			font-size: 35px;
		}
		.collection-content{
			.info{
				h3{
					font-size: 20px;
				}
			}
			.sale-info{
				h3{
					font-size: 33px;
		    		margin-bottom: 20px;
				}
				p{
					font-size: 18px;
	    			margin-bottom: 30px;
				}
				.btn{
					font-size: 13px;
	    			padding: 13px 30px;
				}
			}
		}
		padding: 96px 0 !important;
	}
    background-size: cover;
    background-position: center;
}
.sport-instagram{
	.instagram-heading{
		.title{
			text-align: center;
		    margin-bottom: 40px;
		    font-size: 40px;
		    font-weight: 700;
		    color: #333;
		}
	}
    .images_block {
	    a {
	    	position: relative;
		    overflow: hidden;
		    text-decoration: none;
		    transition: all 0.2s linear;
		    -ms-transition: all 0.2s linear;
		    -webkit-transition: all 0.2s linear;
		    -o-transition: all 0.2s linear;
	        display: block;
	    }
	    img{
    		transition: all 4s ease;
		}
	}
	.icon-block{
		.view-icon{
			.fa{
				opacity: 0;
			    font-size: 40px;
			}
			position: absolute;
		    top: 50%;
		    left: 0;
		    right: 0;
		    z-index: 2;
		    transform: translateY(-50%);
		    -webkit-transform: translateY(-50%);
		    text-align: center;
		}
		&:hover{
			.view-icon{
				.fa{
					opacity: 1;
				}
			}
			img {
			    -webkit-transform: scale(1.2);
    			transform: scale(1.2);
			}	
		}
	}
	.images_block a:after {
	    content: "";
	    display: block;
	    position: absolute;
	    z-index: 1;
	    left: 0;
	    top: 0;
	    background-color: rgba(0,0,0,0.7);
	    height: 100%;
	    width: 100%;
	    opacity: 0;
	    -moz-transition: opacity 0.2s linear;
	    -o-transition: opacity 0.2s linear;
	    -webkit-transition: opacity 0.2s linear;
	    transition: opacity 0.2s linear;
	}
	.images_block .icon-block:hover a:after {
	    opacity: 1;
	}
	._images_block a:hover:before, .images_block a:hover:before {
	    opacity: 1;
	}
	.slider-control{
		.carousel-control-prev , .carousel-control-next{
			width: 5% !important;
			z-index:3;
			span{
				width: 56px;
			    height: 56px;
			    line-height: 56px;
			    font-size: 36px;
    			color: #222;
			    z-index: 10;
			    cursor: pointer;
			    background-color: #ffffff;
    			box-shadow: 0 8px 8px rgba(0,0,0,0.09);
			    transition: all 0.3s ease 0s;
			    -moz-transition: all 0.3s ease 0s;
			    -webkit-transition: all 0.3s ease 0s;
			    -ms-transition: all 0.3s ease 0s;
			    box-shadow: 0px 3px 6px 0 rgba(0, 0, 0, 0.15);
			    -ms-box-shadow: 0px 3px 6px 0 rgba(0, 0, 0, 0.15);
			    -moz-box-shadow: 0px 3px 6px 0 rgba(0, 0, 0, 0.15);
			    -webkit-box-shadow: 0px 3px 6px 0 rgba(0, 0, 0, 0.15);
			    transform: scale(0);
			    -moz-transform: scale(0);
			    -ms-transform: scale(0);
			    border-radius:100%;
			}
		}
	}
	.bs-slider:hover{
		.slider-control{
			.carousel-control-prev , .carousel-control-next{
				span{
					transform: scale(1);
				    -moz-transform: scale(1);
				    -ms-transform: scale(1);
				}
			}
		}
	}
	@media (max-width: 767.98px) {
		.instagram-heading{
			.title{
				font-size: 30px;
			}
		}
		.slider-control{
			.carousel-control-prev , .carousel-control-next{
				width: 20% !important;
				span{
					width: 40px;
				    height: 40px;
				    line-height: 40px;
				    font-size: 20px;
				}
			}
		}
	}
	@media (min-width: 768px) and (max-width: 991.98px) {
		.slider-control{
			.carousel-control-prev , .carousel-control-next{
				width: 10% !important;
			}
		}
	}
	@media (min-width: 992px) and (max-width: 1199.98px) {
		.slider-control{
			.carousel-control-prev , .carousel-control-next{
				width: 10% !important;
			}
		}
	}
}


.editor_enable{
	.sport-instagram .images_block .icon-block:hover a:after{
	    margin-top: 100px;
	}
}