.homepage-three-banner{
	.carousel-item{
		h2{
		    padding-left: 70px;
		    line-height: 1;
		    font-size: 20px;
		    font-style: italic;
		}
		.side-line{
			position: relative;
		}
		.side-line::before{
			content: "";
		    width: 50px;
		    height: 1px;
		    background: #ffffff !important;
		    position: absolute;
		    top: 50%;
		    margin-left: -70px;
		}
		h1{
			font-size: 100px;
		    font-weight: 600;
		    margin-bottom: 15px;
		    margin-top: 22px;
		    line-height: 1;
		}
		p{
		    font-size: 15px;
		    font-weight: 400;
		    line-height: 24px;
		}
		a.btn{
			line-height: 40px;
		    padding: 0 30px;
		    font-weight: 400;
		    margin-top: 40px;
		    -webkit-transition: all 0.3s ease-in-out;
		    -moz-transition: all 0.3s ease-in-out;
		    -ms-transition: all 0.3s ease-in-out;
		    -o-transition: all 0.3s ease-in-out;
		}

		a.btn:hover{
			color: theme-color('primary');
		}

		background-size: cover;
    	background-position: center;
	    padding: 15rem 10rem;
	}

	.carousel-indicators{
		li{
			width: 14px;
			height: 14px;
			border-radius: 50%;
		}
		li.active{
			width: 10px;
			height: 10px;
			border-radius: 50%;
		}
	}

	.carousel-control-prev, .carousel-control-next{
		width: 4%;
		font-size: 60px;
	}

	@media (max-width: 1199.98px){
		.carousel-item{
			h2{
			    font-size: 1.8vw !important;
			}
			h1{
				width: 100% !important;
				font-size: 5vw !important;
			}
			p{
				font-size: 1.5vw !important;
			}
			a.btn{
				margin:0;
		        font-size: 1.4vw ;
			    padding: 0 2.5vw;
			    line-height: 4vw;
			}
			padding: 11rem 8rem;
		}
	}

	@media (max-width: 991.98px){
		.carousel-item{
			padding: 9rem 5rem;
		}
	}

	@media (max-width: 767px){
		.carousel-item{
			h2{
			    font-size: 3vw !important;
			    padding-left: 45px;
			}
			.side-line::before{
				width: 35px;
				margin-left: -45px;
			}

			h1{
				font-size: 5vw !important;
			    margin-bottom: 5px;
    			margin-top: 5px;
			}
			p{
				font-size: 2.5vw !important;
				line-height: 1.3;
			}
			.btn{
				padding: 0 13px !important;
			    font-size: 13px !important;
			    line-height: 25px !important;
			}
    		background-position: right;
			padding: 5rem 4rem;
		}
	}
}

.homepage-three-feature-row{
	.feature-box{
		.icon{
			.fa , .icon , .icofont , .lnr, .lni , .ri , .ti {
				font-size:35px;
				line-height:70px;
			}
			width:70px;
			height:70px;
			border-radius:50%;
		    opacity: 0.7;
		}
		h3{
			font-size: 18px;
		}
		p{
			line-height: 24px;
		}
	}
}

.homepage-three-aboutus{
	.aboutus-title{
		span.text-muted{
			font-size: 15px;
		    font-weight: 500;
		    letter-spacing: 0.25em;
		}
		h1{
			font-size: 36px;
		    font-weight: 600;
		    padding-bottom: 25px;
		    margin-top: 5px;
		}
		.down-line{
			position:relative;
		}

		.down-line::before{
		    bottom: 6px !important;
		    margin-left: -30px !important;
		}

		.down-line::after, .down-line::before{
			content: "";
		    width: 40px;
		    height: 1px;
		    background: theme-color('primary');
		    position: absolute;
		    bottom: 0;
		    left: 50%;
		    margin-left: -10px;
		}
	}
	p{
		font-size: 15px;
    	line-height: 24px;
	}
	a.btn{
	    padding: 0 20px;
	    line-height: 40px;
	    font-size: 14px;
	    font-weight: 600;
	}

	a.btn:hover {
	    color: theme-color('primary');
	    background-color: transparent;

	}

	@media (min-width: 768px) and (max-width: 1199.98px) {
		.aboutus-content{
			h1{
				font-size: 25px !important; 
			}
		}
	}

	@media (max-width: 767px){
		.aboutus-content{
			h1{
				font-size: 30px !important;
			}
			margin-top: 3rem !important;
		}
		.btn{
			padding: 0 18px !important;
		    font-size: 13px !important;
		    line-height: 35px !important;
		}
	}

}

.homepage-three-feature{
	.feature-title{
		span.text-muted{
			font-size: 15px;
		    font-weight: 500;
		    letter-spacing: 0.25em;
		}
		h1{
		    font-size: 36px;
		    font-weight: 600;
		    padding-bottom: 25px;
		    margin-top: 5px;
		}
		.down-line{
			position:relative;
		}

		.down-line::before{
		    bottom: 6px !important;
		    margin-left: -30px !important;
		}

		.down-line::after, .down-line::before{
			content: "";
		    width: 40px;
		    height: 1px;
		    background: theme-color('primary');
		    position: absolute;
		    bottom: 0;
		    left: 50%;
		    margin-left: -10px;
		}
	}

	.feature-box{
		.text{
			h3{
			    font-size: 17px;
			    font-weight: 600;
			}
			p{
				line-height: 24px;
			}
		}
		.icon{
			.fa , .icon , .icofont , .lnr, .lni , .ri , .ti {
				line-height: 60px;
    			font-size: 25px;
    			width: 60px;
    			height: 60px;
			}
		    height: 60px;
		    border-radius: 50%;
		    text-align: center;
		}
	}

	.feature-box:hover{
		.icon{
			.fa , .icon , .icofont , .lnr, .lni , .ri , .ti {
				color: #ffffff !important;
			}
			background-color: theme-color('primary') !important;
		}
	}

	@media (max-width: 767px){
		.feature-watch{
			margin-bottom: 3rem !important;
		}
	}

}

.homepage-three-product-feature{
	.feature-content{
		h1{
			font-size: 36px;
		    line-height: 40px;
		    margin-top: 0;
		    margin-bottom: 20px;
		}
		p{
		    line-height: 24px;
		}
		.feature-box{
			.icon.mr-2 {
				.fa , .icon , .icofont , .lnr, .lni , .ri , .ti  {
				    font-size: 40px;
				}
			    width: 60px;
			}
			.text{
				h3{
					font-size: 17px;
    				font-weight: 600;
				}
				p{
					line-height: 24px;
    				margin: 0;
				}
			}
			width: 60%;
		}
	}

	@media (min-width: 768px) and (max-width: 1199.98px) {
		.feature-box{
			width: 100% !important;
		}
	}

	@media (max-width: 767px){
		.feature-content{
			h1{
				font-size: 25px;
			    line-height: 32px;
			}
		}
		padding: 64px 0 !important;
	}
}

.homepage-three-tech-specs{
	.tech-title{
		span.text-light{
			font-size: 15px;
		    font-weight: 500;
		    letter-spacing: 0.25em;
		}
		h1{
			font-size: 36px;
		    font-weight: 600;
		    padding-bottom: 25px;
		    margin-top: 5px;
		}
		.down-line{
			position:relative;
		}

		.down-line::before{
		    bottom: 6px !important;
		    margin-left: -30px !important;
		}

		.down-line::after, .down-line::before{
			content: "";
		    width: 40px;
		    height: 1px;
		    background: theme-color('primary');
		    position: absolute;
		    bottom: 0;
		    left: 50%;
		    margin-left: -10px;
		}
	}

	.specs{
		ul{
			li:first-child{
				text-align: left;
			    padding-right: 15px;
			    font-weight: 600;
			}
			li.dotted-line{
				position: relative;
			}

			li.dotted-line::after{
				    content: "";
				    position: absolute;
				    left: 0;
				    top: 50%;
				    width: 100%;
				    border-top: 1px dotted rgba(255,255,255,0.25);
			}

			li:last-child{
				text-align: right;
    			padding-left: 15px;
			}
		    display: grid;
		    grid-template-columns: auto auto auto;
		    line-height: 24px;
		    margin-bottom: 23px;
		    list-style: none;
		    padding: 0;
		}
	}
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.homepage-three-testimonial{
	.testimonial-title{
		span.text-muted{
			font-size: 20px;
		    font-style: italic;
		}
		h1{
			font-size: 36px;
		    font-weight: 600;
		    padding-bottom: 25px;
		}
		.down-line{
			position:relative;
		}

		.down-line::before{
		    bottom: 6px !important;
		    margin-left: -30px !important;
		}

		.down-line::after, .down-line::before{
			content: "";
		    width: 40px;
		    height: 1px;
		    background: theme-color('primary');
		    position: absolute;
		    bottom: 0;
		    left: 50%;
		    margin-left: -10px;
		}
	}
	.carousel-indicators{
		li{
			background-color: theme-color('dark');
			width: 12px;
		    height: 12px;
		    border-radius: 50%;
		    border: none
		}
		li.active{
			background-color: white;
			border: 1px solid theme-color('primary');
		}
		position: unset;
	}
	.carousel-item{
		.row{
			margin:0;
		}
	}
	.team-box{

		.carousel-img{
			.img.img-fluid{
				width: 100px;
			    height: 100px;
			    border-radius: 50%;
			}
			width: 100px;
		    height: 100px;
		    border-radius: 50%;
		}
		.title{
		    font-size: 21px;
		}
		.title:hover{
			text-decoration: none;
			color: theme-color('primary') !important;
		}
		.text{
			font-weight: 400;
    		line-height: 30px;
		}
		.text:hover{
			text-decoration: none;
			color: theme-color('primary') !important;
		}
	    padding: 2rem 1rem !important;
		border-radius: 30px;
		-webkit-transition: all 300ms ease-in-out;
	    -moz-transition: all 300ms ease-in-out;
	    -ms-transition: all 300ms ease-in-out;
	    -o-transition: all 300ms ease-in-out;
	    transition: all 300ms ease-in-out;
	}

	.team-box:hover{
		background-color: #ffffff;
		border-color: #ffffff;
		box-shadow: 0 0 9px 1px rgba(0,0,0,0.12);
    	-webkit-box-shadow: 0 0 9px 1px rgba(0,0,0,0.12);
	}

	@media (min-width: 768px) and (max-width: 991.98px) {
		.team-box{
			min-height: 560px !important;
		}
	}

	@media (min-width: 992px) and (max-width: 1199.98px) {
		.team-box{
			min-height: 475px !important;
		}
	}

	@media (max-width: 767px){
		.testimonial-title{
			h1{
				font-size: 30px;
			}
		}
		.team-box{
			margin-bottom: 30px;
		}
	}
}

.homepage-three-subscribe{
	.subs-title{
		span{
			font-size: 20px;
		    font-style: italic;
		}
		h1{
		    font-size: 36px;
		    margin: 0;
		    font-weight: 600;
		    padding-bottom: 25px;
		    position: relative;
		}

		.down-line::before{
		    bottom: 6px !important;
		    margin-left: -30px !important;
		}

		.down-line::after, .down-line::before{
			content: "";
		    width: 40px;
		    height: 1px;
		    background: theme-color('primary');
		    position: absolute;
		    bottom: 0;
		    left: 50%;
		    margin-left: -10px;
		}
	}
	a.btn.btn-primary.js_subscribe_btn {
	    position: absolute;
	    right: 0px;
	    color: white;
	    border: none;
	    height: 55px;
	    padding: 0 30px;
	    border-radius: 70px;
	    transition: 0.5s;
	    line-height: 55px;
	    font-size: 16px;
	    font-weight: 500;
	    top: 0px;
	    border-top-right-radius: 70px !important;
    	border-bottom-right-radius: 70px !important;
    	z-index:22 !important;
	}

	a.btn.btn-success.js_subscribed_btn {
	    position: absolute;
	    right: 0px;
	    color: white;
	    border: none;
	    height: 55px;
	    padding: 0 30px;
	    border-radius: 70px;
	    transition: 0.5s;
	    line-height: 55px;
	    font-size: 16px;
	    font-weight: 500;
	    top: 0px;
	    border-top-right-radius: 70px !important;
    	border-bottom-right-radius: 70px !important;
	}

	.input-group.js_subscribe {
	    max-width: 770px;
	    margin-left: auto; 
	    margin-right: auto;
	    margin-top: 35px;
	}

	input.js_subscribe_email.form-control {
	    background-color: white;
	    border: none;
	    height: 55px;
	    padding-left: 25px;
	    border-radius: 70px;
	    padding-top: 5px;
	   
	    border-top-right-radius: 70px !important;
    	border-bottom-right-radius: 70px !important;
	}

	@media (max-width: 767px){
		.subs-title{
			h1{
				font-size: 25px;
			}
		}
	}
}

.homepage-three-clients{
	h1{
	    font-size: 36px;
	    margin: 0;
	    font-weight: 600;
	    padding-bottom: 25px;
	    position: relative;
	}

	.down-line::before{
	    bottom: 6px !important;
	    margin-left: -30px !important;
	}

	.down-line::after, .down-line::before{
		content: "";
	    width: 40px;
	    height: 1px;
	    background: theme-color('primary');
	    position: absolute;
	    bottom: 0;
	    left: 50%;
	    margin-left: -10px;
	}

	.carousel-control-prev, .carousel-control-next {
		font-size: 25px;
	}

	@media (max-width: 767px){
		h1{
			font-size: 27px;
		}
		.img{
			margin-bottom: 30px;
		}
	}
}