.home_two_banner{
    background-image: url('/theme_vouge/static/src/img/home2_banner_main.png');
    transition: 00.2s;
    .s_carousel_wrapper{      
        .carousel-indicators{
            li{
                width: 15px !important;
                height: 15px !important;
                border-radius: 50% !important;
                background-color: theme-color('primary') !important;
                border: 1px solid theme-color('primary');
            }
            li:not(.active){
                background-color: unset !important;
                border: 1px solid black;

            }
        }
        .carousel-inner{
            .carousel-item{
                border-radius: 30px;
                .banner_content{
                    padding: 0 65px !important;
                    @include media-breakpoint-only(xs){
                        padding: 0 15px !important;
                    }
                    .news_latter_title{
                        font-family: 'Lato' !important;
                        font-size: 32px !important;
                    }
                    .s_newsletter_subscribe_form{
                        .input-group{
                            .form-control{
                                border-top-left-radius: 50px !important;
                                height: 64px !important;
                                padding-left: 25px !important;
                                padding-right: 30px !important;
                                border-bottom-left-radius: 50px !important;
                                &:focus-visible{
                                    outline: 0 !important;
                                }
                            }
                            .input-group-append{
                                z-index: 3;
                                a{
                                    display: flex;
                                    align-items: center;
                                    border-radius: 50px !important;
                                    position: relative;
                                    padding: 0 25px !important;
                                    left: -25px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .s_carousel_default{
            .carousel-control-prev-icon{
                width: 45px !important;
                height: 45px !important;
                display: flex !important;
                align-items: center;
                justify-content: center;
                background-color: #fff;
                border-radius: 50%;
                transition: 0.2s;
                position: relative;
                left: 10px;
                opacity: 0;
                &:hover{
                    background-color: theme-color('primary');
                    &::before{
                        color: #fff !important;
                    }
                }  
                &::before{
                    content: "\f104" !important;
                    font-size: 24px !important;
                    margin: 0;
                    color: #000 !important;
                }             
            }  
            .carousel-control-next-icon{
                width: 45px !important;
                height: 45px !important;
                display: flex !important;
                align-items: center;
                justify-content: center;
                background-color: #fff;
                transition: 0.2s;
                border-radius: 50%;
                position: relative;
                right: 10px;
                opacity: 0;
                &:hover{
                    background-color: theme-color('primary');
                    &::before{
                        color: #fff !important;
                    }
                } 
                &::before{
                    content: "\f105" !important;
                    font-size: 24px !important;
                    margin: 0;
                    color: #000 !important;
                }
            }   
        }
    }
    .banner_right{
        background-image: url('/theme_vouge/static/src/img/home2_banner_img2.png');
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 30px;
        .banner_right_content{
            padding: 0 50px !important;
            .shop_btn{
                transition: 00.2s;
                border: 0px !important;
                font-size: 14px !important;
                .icon{
                    margin-left: 4px;
                    transition: 00.2s;
                }
                &:hover{
                    background-color: theme-color('warning') !important;
                    .icon{
                        margin-left: 8px;
                    }
                }
            }
        }
    }
    &:hover{
        .s_carousel_default{
            .carousel-control-prev-icon,.carousel-control-next-icon{
                opacity: 1;
            }
        }
    }
}