$itsolution-1: #3b3663 !default;
$itsolution-2: #685ae8 !default;
$app-1: #462768 !default;
$app-2: #5d4ab4 !default;
$medical: #47b6e6 !default;
$snowboard-1: #1231b4 !default;
$snowboard-2: #29b0ed !default;
$seo-color: #4e28bc;
$charity-1: #ff9c81;
$charity-2: #0f7dcc;
$autoparts: #ff2d37;
$organic: #daffdc;
$organic2: #f26d25;
$cyber-security: #0aabff;
$cyber-security-2: #5128ff;
$real-estate: #03b5c3;
$restaurant-1: #d60508;
$restaurant-2: #fcb917;
$travel: #3fd0d4;
$fashion: #ff4545;
$tools: #ffd200;

$footer1-top-footer: #ffffff !default;
$footer1-middle-footer: #ffffff !default;
$footer1-copyright-footer: #419183 !default;

$footer2-top-footer: #1b1b1b !default;
$footer2-middle-footer: #1b1b1b !default;
$footer2-copyright-footer: #1b1b1b !default;

$footer3-top-footer: #419183 !default;
$footer3-middle-footer: #ffffff !default;
$footer3-copyright-footer: #ffffff !default;

$footer4-top-footer: #ffffff !default;
$footer4-copyright-footer: #e5e5e5 !default;

$footer5-top-footer: #ffffff !default;
$footer5-copyright-footer: #e5e5e5 !default;

$footer6-top-footer: #419183 !default;
$footer6-middle-footer: #1b1b1b !default;
$footer6-copyright-footer: #323232 !default;

$footer7-top-footer: #ebf4f2 !default;
$footer7-copyright-footer: #ebf4f2 !default;

$footer8-top-footer: #212121 !default;
$footer8-copyright-footer: #0a0a0a !default;

$o-user-theme-color-palette: (
	'itsolution-1':$itsolution-1,
    'itsolution-2':$itsolution-2,
    'app-1':$app-1,
    'app-2':$app-2,
    'medical':$medical,
    'snowboard-1':$snowboard-1,
    'snowboard-2':$snowboard-2,
    'seo-color':$seo-color,
    'charity-1':$charity-1,
    'charity-2':$charity-2,
    'autoparts':$autoparts,
    'organic':$organic,
    'organic2':$organic2,
    'cyber-security':$cyber-security,
    'cyber-security-2':$cyber-security-2,
    'real-estate':$real-estate,
    'restaurant-1':$restaurant-1,
    'restaurant-2':$restaurant-2,
    'travel':$travel,
    'fashion':$fashion,
    'tools':#ffd200,

    'footer1-top-footer': $footer1-top-footer,
    'footer1-middle-footer': $footer1-middle-footer,
    'footer1-copyright-footer': $footer1-copyright-footer,

    'footer2-top-footer': $footer2-top-footer,
    'footer2-middle-footer': $footer2-middle-footer,
    'footer2-copyright-footer': $footer2-copyright-footer,

    'footer3-top-footer': $footer3-top-footer,
    'footer3-middle-footer': $footer3-middle-footer,
    'footer3-copyright-footer': $footer3-copyright-footer,

    'footer4-top-footer': $footer4-top-footer,
    'footer4-copyright-footer': $footer4-copyright-footer,

    'footer5-top-footer': $footer5-top-footer,
    'footer5-copyright-footer': $footer5-copyright-footer,

    'footer6-top-footer': $footer6-top-footer,
    'footer6-middle-footer': $footer6-middle-footer,
    'footer6-copyright-footer': $footer6-copyright-footer,

    'footer7-top-footer': $footer7-top-footer,
    'footer7-copyright-footer': $footer7-copyright-footer,

    'footer8-top-footer': $footer8-top-footer,
    'footer8-copyright-footer': $footer8-copyright-footer,
 );
