.product_banner_main_section, .edit_mode_product_banner{

	#o-carousel-product .o_carousel_product_indicators .carousel-indicators {
		justify-content: center !important;
	}
	.product_details{
		background-color:rgba(theme-color('primary'), 0.10);
    	padding: 10px;
    	transform: translateY(20px);
	}
	.product-info{
		/* .h5{
			letter-spacing: 0.6px;
		    margin-bottom: 15px !important;
		}
		.description{
			font-size: 15px;
    		font-weight: 400;
		}
		.product_price {
			.oe_price_h4{
			    font-size: 21px;
			    padding-bottom: 0px;
			    margin-bottom: 0px;
			    color: #000000 !important;
			    font-weight: bold;
			}
			.oe_default_price {
			    font-size: 15px;
			    color: #a6a6a6 !important;
			}
		    margin-top: 0 !important;
		    margin-bottom: 20px !important;
		    letter-spacing: 0.6px;
		} */
		padding: 3rem;
		background-color: white;
	    padding-bottom: 1rem;
	    @media(max-width:991.98px){
	    	padding: 1.5rem;
	    }
	}

	.product-img-box{
		#o-carousel-product .carousel-outer .carousel-inner img{
		    height: auto;
		    width: unset;
		    max-height: 500px !important;
		    object-fit: unset;
		}
		#o-carousel-product .carousel-outer{
			.carousel-control-prev, .carousel-control-next{
				// display: none !important;
				visibility: visible;
				opacity: 1200;
				z-index: 1200;
			}
			height: unset;
    		max-height: unset;
		}
		.vouge-product-label{
			display: none !important;
		}
		#o-carousel-product > .d-none.d-md-block.text-center{
			display: none !important;
		}
	}

	#product_details{
		#product_attributes_simple{
			p{
				//display: flex;
				font-size: 12px;

				> span{
					display: flex;
				}
			}
			.attribute_name{
				font-weight: 600;
			    margin-bottom: 9px;
			    font-size: 16px;
			    width: 30%;
			    color: rgb(27, 27, 27) !important;
			    display: inline-block;
			    @media(max-width: 767.98px){
					width: 30%;
				}
			    color: #121212 !important;
			    word-break: break-all;
			}
			.attribute_value{
			    font-size: 15px;
			    color: #616161;
			    font-weight:600;
			}
		}

		ul.list-unstyled.js_add_cart_variants.flex-column {
			li.variant_attribute {
				li.list-inline-item {
					.css_attribute_color{
					    border-radius: 50%;
					    margin: 0;
					    width: 25px;
					    height: 25px;
					    border: 3px solid #DEE2E6;
					    &:before{
					    	display: none;
					    }
					}
					.css_attribute_color.active {
					    border: 3px solid theme-color('primary');

					}
				}
			}
		}
		
		.product-name{
			letter-spacing: 0.6px;
		}
		.description{
    		font-size: 15px;
    		font-weight: 400;
		}
		.product_price{
			.oe_default_price{
			    font-size: 15px;
		        color: #5c5c5c!important;
				font-weight: 400;
			}
		    margin-top: 0 !important;
		    margin-bottom: 0.5rem !important;
		    letter-spacing: 0.6px;
		}
		.oe_price_h4{
			font-size: 21px;
    		padding-bottom: 0px;
    		margin-bottom: 0px;
    		color:theme-color('primary') !important;
    		font-weight: 400;
			
		}
		.product-rating{
			float: unset !important;
			display: block !important;
			width: 100%;
			i{
				color:#ffad35 !important;
			}
			
		}
		.view-detail{
		    font-size: 14px;
		}
		.vouge-labels{
			.vouge-product-label, .vouge-product-discount-label{
				.vouge-pro-label-na, .vouge-pro-label-disc{
				    position: unset !important;
    				
				}
			    position: unset;
			    padding: 0 !important;
			    padding-right: 10px !important;
			}
			margin-bottom: 0.5rem;
		}
		.variant_attribute {
			display: flex;
			.attribute_name{
				font-weight: 600;
			    margin-bottom: 9px;
			    font-size: 16px;
			    width: 10%;
			    color: rgb(27, 27, 27) !important;
			    display: inline-block;
			    text-transform: capitalize;
			    @media(max-width:767.98px){
			    	width: 30%;
			    }
			}
			> select{
				border-radius: 0 !important;
				font-size: 11px;
			}
			ul {
				margin: 0;
				padding:0;
				display: flex;
			}
			
			.js_attribute_value{
				padding-bottom: 5px;
				display:block;
			}
			.col-form-label{
				padding-top:0 !important;
				span{
					font-size:15px;
					font-weight: 600;
				}
			}
		}
		ul.list-unstyled.js_add_cart_variants:not(.select_variant_attr){
			.variant_attribute {
				> select{
					width: auto !important;
				}
			}
		}
		.js_add_cart_variants {
			margin-bottom: 0;
			border-top: 1px solid #ececec;
			padding-top: 15px;
		}
		.variant_attribute {
			padding-bottom: 0 !important;
		}
		.a-submit , #buy_now, .qv-ajax-cart, #add-cart, #buy-cart{
			//background: theme-color('primary') !important;
			color: #fff;
			border-radius: 0px !important;
			font-size: 15px;
		    line-height: 23px;
		    font-weight: 600;
		    text-transform: uppercase;
			
		    @media(min-width: 768px){
				
		    }
		}
		#add_to_cart{
			//background-color: theme-color('secondary') !important;
		}
		#buy_now{
			//background-color: theme-color('primary') !important;
		}
		.text-content{
    		font-size: 15px;
    		font-weight: 400;
		}

		.product-btns{
			.ajax_cart_modal_tools, .buy_now_btn {
				width: 50%;
				@media(max-width: 767.98px){
					width: 100%;
				}
			}
		    transform: translateY(40px);
		    @media(max-width: 767.98px){
		    	transform: translateY(0);
		    }
		}
	}
	.product_image{
		max-height: 500px;
	}
}
.product-rating{
	i{
		color: #ffad35 !important;
	}
	
}
/* display options*/
.editor_enable{
	.bizople_product_banner{
		.edit_mode_product_banner{
			display: block !important;
		}
		.product_banner_main_section{
			display: none !important;
		}
	}
}
.bizople_product_banner{
	.vouge-product-label{
		display: none;
	}
	.discount-label{
		display: none;
	}
	.edit_mode_product_banner{
		display: none !important;
	}
	.product_banner_main_section, .edit_mode_product_banner {
		#product_details .product-rating{
			display: none !important;
		}
	} 
	.o_carousel_product_indicators {
		// display: none;
		// text-align: center !important;
		// justify-content: center !important;
	}
	.ajax_cart_modal_tools {
		display: none;
	}
	.buy_now_btn{
		display: none;
	}
	&.show-product-label{
		.vouge-product-label{
			display: block;
		}
	}
	&.show-discount-label{
		.discount-label{
			display: block;
		}
	}
	&.show-product-rating{
		.product_banner_main_section, .edit_mode_product_banner {
			#product_details .product-rating{
				display: inline-block !important;
			}
		} 
	}
	&.show-add-cart{
		.ajax_cart_modal_tools {
			display: block;
		}		
	}
	&.show-buy-cart{
		.buy_now_btn{
			display: block;
		}
	}
	@media (min-width: 768px) and (max-width: 991.98px){
		.product-img-section{
			margin-top: 80px;
		}
	}
	@media (max-width: 767.98px){
		.product_details{
			transform: translateY(0px);
    		margin-bottom: 15px;
		}
		.product-img-section{
			margin-top:30px;
		}
	}
}

// product banner ajax cart popup

.bizople_product_banner{
	min-height: 500px;
	.product_banner_main_section{
		#product_details{
			.ajax-cart-modal{
				.modal-dialog{
					.modal-content{
						.modal-body{
							position: relative;
							//padding: 20px !important;
							> div{
								button.close{
									position: absolute;
									top: 10px;
									right: 10px;
								}

								> div.d-md-flex{
									.flex-fill.text-center{
										a{
											img{
												max-width: 225px;
											}
										}
									}
									.flex-fill{
										#cnt_shopping{
											border-radius:0 !important;
											font-size: 15px;
										}
										#checkout_shopping{
											border-radius:0 !important;
											font-size: 15px;
										}
									}
								}
							}

						}
					}
				}
			}
		}
	}
}