.o_rtl {
	.owl-carousel{
	    direction: rtl;
	}
}

#product_detail{
	.availability_messages{
		> div{
			margin: 0 !important;
			margin-bottom: 15px !important;
			margin-top: 15px !important;
	        font-size: 15px;
    		font-weight: bold;
		}
		display: block;
	}
	.breadcrumb-item + .breadcrumb-item::before {
	    display: inline-block;
	    padding-right: 0.5rem;
	    color: theme-color('primary');
	}
	
	.top-breadcrumbs{
		.col-md-8{
			display: none;
		}
		a:hover{
			text-decoration: none;
			color: theme-color('primary');
		}
		.breadcrumb{
			background-color: transparent;
    		padding: 0;
		    font-size: 13px;
		    .breadcrumb-item{
		    	a,span{
		    		line-height: 20px;
		    	}
		    }
		    a{
		    	font-weight: 600;
		    }
		}
	}
	#o-carousel-product {
		.o_carousel_product_indicators {
		    overflow: unset !important;
		    @media (max-width: 767.98px) {
		    	display: none !important;
		    }
		}
		.carousel-outer{
	    	border: 1px solid #e5e5e5;
	    	width:100%;
	    	max-height:unset !important;
	    	order:2;
	    	height: 500px;
	    	border-radius: 5px;
	    	.carousel-item{
				div{
					img{
						max-height: 500px !important;
					}
				}
			}
	    	@media (max-width: 991.98px) {
	    		height: 450px !important;
	    		.carousel-item{
					div{
						img{
							max-height: 350px !important;
						}
					}
				}
	    	}
	    	@media (min-width: 992px) and (max-width: 1199.98px) {
	    		height: 500px !important;

	    		.carousel-item{
					div{
						img{
							max-height: 400px !important;
						}
					}
				}
	    	}
	    }
	    .carousel-outer:hover{
	    	.carousel-control-prev , .carousel-control-next{
	    		transform: translateY(0);
			    -webkit-transform: translateY(0);
			    opacity: 1;
			    visibility: visible;
	    	}
	    }
	    .carousel-control-prev , .carousel-control-next{
	    	top : 40%;
	    	width: 36px;
    		height: 60px;
	    	opacity: unset !important;
	    	background-color: #fff ;
	    	box-shadow: 0 1px 4px rgba(0,0,0,.1);
	    	opacity: 0;
		    visibility: hidden;
		    -webkit-transition: all .25s ease;
		    transition: all .25s ease;
	    	span{
    			color: #222;
    			background-color: unset !important ;
    			font-size: 15px;
    			border: 0;
	    	}
	    }
	    .carousel-indicators{
	    	text-align: unset !important;
	    	margin-left: unset !important;
	    	margin-right: unset !important;
    	    max-height: 500px;
    		overflow: scroll;
		    display: grid !important;
		    @media (max-width: 991.98px) {
	    		max-height: 450px;
	    	}
	    	@media (min-width: 992px) and (max-width: 1199.98px) {
	    		max-height: 500px;
	    	}
	    }
	    .carousel-indicators::-webkit-scrollbar {
		  	width: 1px;
		}
		.carousel-indicators::-webkit-scrollbar-thumb {
		  	background: #dbdbdb;
		}
	    display: -webkit-box !important;
	    display: -webkit-flex !important;
	    display: flex !important;
	    position: unset !important;
	    top: 100px;
	}

	#product_details{

		.js_product{
			.mt-2{
				margin-top: 0.7rem !important;
			}
			#product_attributes_simple{
				.single_value_attributes {
					display: flex;
					justify-content: flex-start;
					.text-label{
						min-width: 110px !important;
					}
					.prod-attribute-value{
						margin-left: 12px !important;
					}
				}
			}
			.product-detail-label-value{
				.prod-attribute-label{
					font-size: 15px;
					font-weight: 600;
					float: left;

					.text-label{
						max-width: 110px;
						word-break: break-all !important;
						overflow-wrap: break-word !important;

						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
						display: block;
					}

				}
				.prod-attribute-value{
					margin-left: 120px;
				}
			}
		}

		#o_product_terms_and_share{
			display: none;
		}
		/*#product_attributes_simple{
			td{
				border: 0 !important;
				padding: 0 !important;
			}
			span:first-child{
				font-weight: 600;
			    margin-bottom: 9px;
			    font-size: 16px;
			    width: 30%;
			    color: rgb(27, 27, 27) !important;
			    display: inline-block;
			}
			span:last-child{
			    font-size: 15px;
    			font-weight: 700;
			}
		}*/
		.product-services {
			ul.flex-column > li > a {
			    padding: 2px 2px !important;
			}
			/*.headline {
	    		font-weight: 600;
			    font-size: 15px;
			}
			.s-points {
			    -webkit-flex: 1;
			    -ms-flex: 1;
			    flex: 1;
		        margin-left: 80px;
			}
			.point-ul {
				span{
					color: theme-color('secondary');
				}
			}*/
		
			.modal-header { 
				border-bottom:0px;	
			}
			.modal-content {
			    border-radius: 0px;
			}
			.close {
			    font-size: 16px;
			}
			.info-icon {
			    border-radius: 50%;
			    background-color: #fff;
			    color: #03A9F4;
			    font-weight: 500;
			    width: 19px;
			    height: 19px;
			    font-size: 11px;
			    line-height: 19px;
			    text-align: center;
			    display: inline-block;
			    border: 1px solid #e0e0e0;
			    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2);
			    vertical-align: middle;
			    margin: 0 2px 0 8px;
			    cursor: pointer;
			}
		}
		.cart_prod_sticky.row{
			@media (max-width: 991.98px) {
				#add_to_cart, #buy_now{
				    font-size: 10px !important;
			        padding: 0 10px !important;
				}
			}
			@media (max-width: 767.98px) {
				.cart_prod_img{
					.img{
						max-width: 65px !important;
					}
				}
				.cart_product_sticky_details{
					.oe_website_sale{
						float: unset !important;
					}
				}
				.product_name, .oe_price{
					color: theme-color('secondary') !important;
					font-size: 15px !important
				}
				#add_to_cart, #buy_now{
				    line-height: 30px !important;
				}

				.product_price{
					margin-top: 0 !important;
				}
			}
		}
		.product-name-share{
			.product-rating{
			    white-space: nowrap;
			}
			a.dropdown-toggle{
				font-size: 20px;
			    cursor: pointer;
				&:after{
					display: none;
				}
			}
			.share-dropdown{
				.s_share{
					.fa{
						width: 2rem;
					    height: 2rem;
					    line-height: 2rem;
					    background-color: transparent;
    					box-shadow: none !important;
					}
				    text-align: center;
				}
				transform: unset !important;
			    padding: 0;
			    margin: 0;
			    border: 0;
		        top: 35px !important;
    			left: auto !important;
    			right: -15px !important;
			    background-color: #ffffff;
    			box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
			}
		}
		.product_info_list{
			a:hover{
				text-decoration: none !important;
			}

			.vouge_tags, .vouge_categ{
				span.tag-name{
					color: theme-color('primary');
				}
			}

			.vouge_tags p span:last-child{
				display:none;
			}
			.vouge_categ p > span:last-child {
			    display: none;
			}
			.vouge_categ{
				a {
					color: #000000;
					transition: 0.2s;
					-webkit-transition: 0.2s;
					&:hover{
						color: theme-color('primary');
					}
				}
			}
			.product-brand{
				.brand-title{
					color: #000;
		    		font-size: 16px;
		    		font-weight: 600;
				}
				img{
				    max-width: 90px;
    				max-height: 90px;
				}
			}
			.vouge_categ{
				.categ-title{
					font-size:16px;
					font-weight:600;
					color: #000;
					margin-right: 10px;
				}
				.categ-name{
					color: theme-color('primary');
					font-size: 14px;
				}
			}
		    color: #000;
		    font-size: 13px;
		    margin-top: 15px;
		}
		.vouge_product_info_list{
			p{
				margin: 0;
			}
			.sku-title, .categ-title{
				font-size: 16px;
				font-weight: 600;
				color: #1b1b1b;
			}
			.sku-name, .categ-name{
				font-size: 15px;
				font-weight: 400;
				color: theme-color('primary');
			}
			.vouge_categ{
				span:last-child{
					display: none;
				}
			}
		}

		ul.list-unstyled.js_add_cart_variants.flex-column {
			li.variant_attribute {
				position: relative;
				li.list-inline-item {
					.css_attribute_color{
					    border-radius: 50%;
					    margin: 0;
					    border: 3px solid #DEE2E6;
					    &:before{
					    	display: none;
					    }
					}
					.css_attribute_color.active {
					    border: 3px solid theme-color('primary');
					}
				    &.js_attribute_value{
				    	display: block;
				    }
				}
			}
			.variant_custom_value{
				position: absolute;
				bottom: 10px;
				right: 0;
				width: fit-content;
			}
		}

		h1.product-name{
			font-size: 24px;
		    line-height: 30px;
		    font-weight: 500;
		    text-transform: capitalize;
	        // margin-bottom: 20px;
    		margin-top: 10px;
		}
		.description{
			// margin-bottom: 0.5rem;
    		font-size: 15px;
    		font-weight: 400;
    		line-height: 1.5;
		}
		.product_price{
			.oe_default_price{
			    font-size: 15px;
				font-weight: 400;
			}
			// padding: 22px 0 0px;
			// margin: 0 !important;
			margin-top: 0.5rem !important;
			margin-bottom: 0 !important;
		    display: block !important;
		}
		.oe_price_h4{
			font-size: 24px;
    		padding-bottom: 0px;
    		margin-bottom: 0px;
    		color: theme-color('primary') !important;
    		font-weight: 600;
    		line-height: 24px;
		}
		.discount-label{
			.vouge-pro-label-disc{
      			@include vouge-pro-label-disc-tag;
				float: unset !important;
			}
		}
		.variant_attribute {
			&:not(:first-child){
				margin-top: 0.7rem;
			}
			padding-bottom: 0 !important;
			// display: flex;
			.attribute_name{
				font-weight: 600;
    			font-size: 15px;
		        display: block;
	            word-break: break-all;
			    text-transform: capitalize;
			    padding-bottom: 0;
			    float: left;
			    // width: 103px;
			    // align-items: unset;
    			// margin-bottom: 9px;
			}
			ul {
				margin: 0;
				padding:0;
				margin-left: 120px;
			}
			.css_attribute_select{
				margin-left: 120px;
				margin-bottom: 0px;
				display: block;
				box-shadow: none;
				width: unset;
				min-width: 140px;
				max-width: unset;
			}
			.btn-group-toggle {
				li{
					display: inline-table !important;
					margin-right: 8px !important;
					span{
						font-weight: 400 !important;
					}
				}
			}
			.js_attribute_value:not(:first-child){
				padding-top: 0.5rem;
			}
			.col-form-label{
				padding-bottom: 0 !important;
				padding-top: 0 !important;
				/*span{
					font-size:12px;
				}*/
			}
		}
		/*.css_quantity:not(.vouge_quantity){
			display: none !important;
		}*/
		.css_quantity.vouge_quantity{
			display: block !important;
			.qty_remove,.qty_add{
				background: transparent !important;
			}
			.label{
				font-size:16px;
				color:theme-color('secondary') !important;
				font-weight: 600;
    			margin-bottom: 0;
    			margin-right:40px;
			}
			.control-qty {
			    position: relative;
			    margin-left: -1px;
			    float: left;
			    border: 1px solid #ebebeb;
			    border-radius: 0px;
			    border-top-right-radius: 5px;
		 		border-bottom-right-radius: 5px;
			}
			.control-qty:before {
			    content: "";
			    display: block;
			    width: 22px;
			    height: 1px;
			    background-color: #ebebeb;
			    position: absolute;
			    left: 8px;
			    top: 50%;
			}
			.js_add_cart_json{
				display: block;
			    width: 38px;
			    text-align: center;
			    line-height: 18px;
			    cursor: pointer;
			    padding:3px !important;
			    font-size: 12px !important;
		        border-radius: 0;
			}
			.quantity{
				width: 70px;
				height: 50px;
			    text-align: center;
			    font-size: 100%;
			    border: 1px solid #ebebeb;
			    line-height: 1.66;
			    background-color: #fff;
			    border-radius: 0px;
			    border-top-left-radius: 5px;
		 		border-bottom-left-radius: 5px;
			    box-shadow: none !important;
			    -webkit-box-shadow: none !important;
			    max-width:unset !important;
			}
		}
		#add_to_cart , .qv-ajax-cart {
			background: theme-color('primary') !important;
			color: #fff;
			padding: 0.4rem 1.5rem !important;
			border-radius: 5px !important;
			margin-right: 0.5rem !important;
			font-size: 15px;
		    line-height: 26px;
		    font-weight: 600;
		    text-transform: uppercase;
		    span.ri{
		    	font-weight: 200;
		    	font-size: 18px;
		    }
		}

		#buy_now{
			span{
			    font-weight: 600;
			}
		    padding: 0.4rem 1.5rem !important;
		    border-radius: 5px !important;
		    margin-right: 0.5rem !important;
		    font-size: 15px;
		    line-height: 26px;
		    font-weight: 600;
		    text-transform: uppercase;
		}
		
		@media(max-width: 767.98px){
			#add_to_cart , .qv-ajax-cart, #buy_now {
				margin-right: 0rem !important;
		    }
		}
		
		.o_add_wishlist{
			font-weight: 500;
			margin-right: 25px;
			padding: 0;
    		color: #6e6e6e;
    		font-size: 15px;
		    line-height: 26px;
		    position: relative;
		    span{
		    	margin-right: 9px;
		    }
		}
		.o_add_wishlist:hover{
			color: theme-color('primary') !important;
		}
		.o_add_compare{
			font-weight: 500;
			padding: 0;
    		color: #6e6e6e;
    		font-size: 15px;
		    line-height: 26px;
		    position: relative;
		    span{
		    	margin-right: 9px;
		    }
		}
		.o_add_compare:hover{
			color: theme-color('primary') !important;
		}
		.text-content{
    		font-size: 15px;
    		font-weight: 400;
		}
	}
	@media(max-width: 767.98px){
		padding: 15px !important;
	}
	@media(min-width: 768px){
		padding: 40px 15px 0 !important;
	}
}
.product-share-icons{
	a{
		border-radius: 0;
	}
	span{
		font-size: 16px;
	    color: #1b1b1b !important;
	    font-weight: 600;
	    margin-bottom: 0;
	    margin-right: 22px;
	}
}
.product_tabs{
	#product_detail_tabs{
		-webkit-box-pack: center;
	    justify-content: center;
	    border-bottom: 1px solid #ebebeb;
	}
	.card-header {
	    margin-bottom: 0;
	    background-color: unset !important;
	    padding: 0.75rem !important;
	}
	.nav-tabs{
		.nav-item{
			margin: 0 26px -1px;
		}
		.nav-link{
			font-size: 20px;
		    font-weight: 500;
		    padding: 15px 3px;
		    color: #191919;
		    position: relative;
		}
		.nav-link.active{
		    color: theme-color('primary') !important;
		}
		.nav-link:hover:before{
			width: 40px;
		}
		.nav-link:before{
			position: absolute;
		    content: "";
		    left: 50%;
		    bottom: 0;
		    height: 2px;
		    width: 0;
		    -webkit-transform: translateX(-50%);
		    transform: translateX(-50%);
		    -webkit-transition: .15s ease-in-out;
		    transition: .15s ease-in-out;
		    background: theme-color('primary') !important;
		}
		.nav-link.active, .nav-link:hover, .nav-link:focus  {
			border-color:transparent !important;
		}
		.active.nav-link:before{
			width: 100%;
		}
	}
	@media (max-width: 767.98px) {
		#product_detail_tabs{
		    justify-content: start;
		}
		.nav-tabs{
			display:block !important;
			.nav-item{
				margin: 0;
			}
		}
	}
	
}
.product_tabs + #product_full_spec{
	display: none;
}
/* .product-services{
	.service-section{
		border: 1px solid #e5e5e5;
	    padding: 25px 0;
	    margin-bottom: 40px;
	    border-radius: 4px;
	    -moz-border-radius: 4px;
	    -webkit-border-radius: 4px;
	    justify-content: center;
	}
    ul {
	    list-style: none;
	    margin: 0;
	    padding: 0;
	}
	.service-image {
	    display: table-cell;
	    vertical-align: top;
	    width: 100px;
	    text-align: center;
	}
	.service-info {
	    display: table-cell;
	    vertical-align: top;
	    padding-top: 3px;
	}
	 h4 {
	    font-size: 16px;
	    color: theme-color('secondary') !important;
	    margin: 0;
	    font-weight: 600;
	    line-height: 1.25em;
	}
	p {
	    margin: 0;
	    font-size: 14px;
	    color: #666666;
	    line-height: 1.66;
	}
} */

.s_wsale_products_recently_viewed{
	h3{
		border-bottom: 1px solid #e5e5e5;
		padding-bottom: 14px;
		position: relative;
		font-size: 18px;
    	line-height: 24px;
    	font-weight: 600;
    	text-align: left !important;
	}
	h3:after {
	    content: "";
	    position: absolute;
	    left: 0;
	    bottom: -1px;
	    width: 50px;
	    border-bottom: 2px solid theme-color('primary') !important;
	}
	.card{
		border: 1px solid #ebebeb;
		border-radius: 2px;
		padding: 20px;
	}
	 .o_carousel_product_card_img_top {
	    height: 15rem !important;
	}
	.card-body {
	    background-color: unset !important;
	    border :0 !important;
	    text-align: center;
	    padding:0 !important;
	    text-align:left !important;
	}
	.card-title{
		text-transform: capitalize;
	    font-weight: 600;
	    margin-bottom: 10px !important;
	    color:theme-color('secondary') !important;
	}
	.card-title:hover{
		color:theme-color('primary') !important;
	}
	.card-footer{
		margin-top: 10px;
    	background-color: unset !important;
    	border-top: 1px solid #ebebeb;
		padding: 12px 0 0;
	
		.font-weight-bold{
			color:theme-color('primary') !important;
		    font-size: 16px;
		    font-weight: 600;
		}
		.js_add_cart{
		    border-radius: 0px;
		    transition: all 300ms ease-in-out;
		    position:absolute;
		    top:10px;
		    left:10px;
		    transform: scale(0);
		    -webkit-transition: 0.2s;
		}
	}
	.fa-trash{
		font-family: 'Linearicons-Free' !important;
		font-weight: 600;
	    outline: 0;
	    text-decoration: none;
	    position: absolute;
	    top: 10px;
	    right: 10px;
	    padding: 7px;
	    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
	    border-radius: 50%;
	    font-size: 16px;
	    background-color: #fff;
	    -webkit-transition: 0.2s;
	    transform: scale(0);
	    display: inherit ;
	}
	.fa-trash:before {
	    content: "\e870";
	}
	.o_carousel_product_card:hover{
		.card-footer{
			.js_add_cart{
				transform: scale(1);
			}
		}
		.fa-trash{
			transform: scale(1);
		}
	}
	.o_carousel_product_control{
		background-color: theme-color('primary') !important;
		border-radius: 0 !important;
	}
	@media (max-width: 767.98px) {
		.card-footer{
			.js_add_cart{
				transform: scale(1) !important;
			}
		}
		.fa-trash{
			display:none;
		}
	}
	@media (min-width: 768px) and (max-width: 991.98px) {	
		.card-footer{
			.js_add_cart{
				transform: scale(1) !important;
			}
		}
		.fa-trash{
			display:none;
		}
	}
	@media (min-width: 992px) and (max-width: 1199.98px) {	
		.card-footer{
			.js_add_cart{
				transform: scale(1) !important;
			}
		}
		.fa-trash{
			display:none;
		}
	}
}
.alternative_product{
	.h3{
		border-bottom: 1px solid #e5e5e5;
		padding-bottom: 14px;
		position: relative;
		font-size: 18px;
    	line-height: 24px;
    	font-weight: 600;
    	text-align: left !important;
	}
	.h3:after {
	    content: "";
	    position: absolute;
	    left: 0;
	    bottom: -1px;
	    width: 50px;
	    border-bottom: 2px solid theme-color('primary') !important;
	}
	a.btn-primary{
		display:none;
	}
	.alternative_product1{
		border: 1px solid #ebebeb;
		border-radius: 5px;
		padding: 20px;
		margin: 10px;
		max-width: 22% !important;
	}
	h6 a{
		text-transform: capitalize;
	    font-weight: 600;
	    margin-bottom: 10px !important;
	    color:theme-color('secondary') !important;
	    font-size: 0.875rem;
	    text-align: left;
	}
	a:hover{
		text-decoration:none !important;
		color:theme-color('primary') !important;
	}
	.product_price{
		margin-top: 10px;
		justify-content: center !important;
    	background-color: unset !important;
    	border-top: 1px solid #ebebeb;
		padding: 12px 0 0;
		text-align: left;
		span{
			color:theme-color('primary') !important;
		    font-size: 16px;
		    font-weight: 600;
		}
	}
	@media (max-width: 767.98px) {
		.alternative_product1{
			max-width: unset !important;
		}
	}
}
.o_shop_discussion_rating{
	hr{
		display:none;
	}
	.o_portal_chatter_composer_form{
		.o_portal_chatter_composer_btn , .o_portal_chatter_attachment_btn{
			border-radius:0 !important;
		}
	}
}

.oe_website_sale{
	.js_cart_summary{
		a{
			font-size: 14px !important;
			padding: 0 10px !important;
			line-height: 35px !important;
			border-radius:4px;
		}
	}
	.oe_cart{
		.btn{
			font-size: 14px !important;
			padding: 0 10px !important;
			line-height: 35px !important;
			border-radius:4px;
		}
		a{
			font-size: 14px !important;
			text-decoration: none;
		}
	}
}
.wishlist-section{
	#o_comparelist_table{
		.o_wish_add{
			font-size: 12px !important;
			padding: 0 10px !important;
			line-height: 35px !important;
			border-radius:4px;
		}
	}
}
#payment_method{
	.o_payment_form{
		.float-left , .float-right{
			a{
				font-size: 12px !important;
				padding: 0 10px !important;
				line-height: 35px !important;
				border-radius:0;
			}
			button{
				font-size: 12px !important;
				padding: 0 10px !important;
				line-height: 35px !important;
				border-radius:0;
			}
		}
	}
}

.product-badges{
	.promo-section{
		margin-bottom: 15px;
	    box-shadow: initial;
	    padding: 20px;
	    min-height: 100px;
        border-radius: 5px;
        background-color: rgba(theme-color('primary'), 0.10)
	}
	.icon{
		padding-right: 10px;
		font-size:35px;
	}
	.title {
	    color: #535655;
	    font-size:14px;
	    font-weight:600;
	    letter-spacing: 0.1em;
    	text-transform: uppercase;
	}
}

/*shop page list style configurator image size start*/
#product_detail {
	.bizople_product_configurator.list_style .product-item .pro-conf-image .p-item-image {
	    height: 64px;
		width: 64px;
	}
}
/*shop page list style configurator image size end*/

// Common Shop 

.oe_website_sale .o_payment_form .card {
    border-radius: 0px !important;
}

.card { 
	border-radius: 0px !important;
}

#product_specifications{
	.table-sm th, .table-sm td {
	    padding: 1.0rem !important;
	}
}

.oe_website_sale input.js_quantity {
    min-width: 60px !important;
    width: 11px !important;
}

.js_delete_product  {
    font-size: 20px !important;
}

.oe_website_sale {
	.progress-wizard .progress-wizard-step .progress-wizard-bar {
    	background-color: #3b3a39;
	}

	.progress-wizard .progress-wizard-step .progress-wizard-dot {
    	box-shadow: 0 0 0 0.125rem #3b3a39;
	}
}