.bg-shopby{
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 0;
	h1{
		font-weight: 600;
	}
}

// .long-container{
// 	max-width: 1440px;
// }

.shopby-category, .shopby-brand{
	.o_website_sale_search{
		input.search-query-bizople{
	        margin: 0 !important;
		    border: 2px solid rgba(theme-color('primary'), 0.4);
		    border-radius: 4px;
		    padding: 10px 20px;
		    align-items: center;
		    height: auto;
		    min-width: 300px;
		}
		button.oe_search_button {
	        background-color: transparent !important;
		    color: black;
		    position: absolute;
		    right: 0;
		    top: 0;
		    bottom: 0;
		}
	}
	.margin-75{
		margin: 0 -7.5px !important;
	}
	.categ-grid, .brand-grid{
		.categ-box, .brand-box{
			.categ-image, .brand-image{
			    width: 110px;
    			height: 110px;
			    display: flex;
			    align-items: center;
			    justify-content: center;
			}
			.categ-name, .brand-name{
			    width: calc(100% - 110px);
    			padding: 10px 15px;
			}
			background-color: #f7f7f7;
			border-radius: 5px;
		}
		flex: 0 0 20% !important;
    	max-width: 20% !important;
    	padding: 0 7.5px;
    	margin-bottom: 15px;
    	@media (min-width: 992px) and (max-width: 1199.98px) {
    		flex: 0 0 25% !important;
    		max-width: 25% !important;
    	}
    	@media (min-width: 768px) and (max-width: 991.98px) {
    		flex: 0 0 50% !important;
    		max-width: 50% !important;
    	}
    	@media (max-width: 767.98px) {
    		flex: 0 0 100% !important;
    		max-width: 100% !important;
    	}
	}
	
	.pagination{
		.page-item{
			margin: 0 6px;
		}
		.page-link{
			    color: #7e7e7e;
			    font-size: 14px;
			    font-weight: 400;
			    padding: 4px 4px;
			    width: 50px;
			    border-radius: 6px;
			    height: 44px;
			    line-height: 35px;
			    text-align: center;
			    background: #ffffff;
			    border: 1px solid #e7e7e7;
			    border-radius: 0;
		}
		.page-item.active .page-link {
			color: #fff !important;
		    background-color: theme-color('primary') !important;
		    border-color: theme-color('primary') !important;
		}
		@media (max-width: 767.98px) {
			.page-item{
				margin: 0 2px !important;
			}

			.page-link{
		        font-size: 10px !important;
			    padding: 0 !important;
			    width: 30px !important;
			    height: 30px !important;
			    line-height: 30px !important;
			}
		}
	}
}