$primarycolor: #088178 !default;
$secondarycolor: #222222 !default;
$primaryo-color-3:  #f4f4f4 !default;
$ptextcolor: #6a6c72 !default;

$h1-font-size: 58px;
$h2-font-size: 28px;
$h3-font-size: 25px;
$h4-font-size: 22px;
$h5-font-size: 20px;
$h6-font-size: 18px;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1440px
) !default;

$o-color-palettes: map-merge($o-color-palettes,
    (
        'base-1': map-merge(map-get($o-color-palettes, 'base-1'), (
            'o-color-1': $primarycolor,
            'o-color-2': $secondarycolor,
            'o-color-3': $primaryo-color-3,
            'o-color-4': #0b1f52,
            'o-color-5': #ff9c81,
        )),
    )
);


/* -------------------------- Main Colors ------------------------*/

/* -------------------------- Text Colors ------------------------*/
$o-base-color-combination: (
    'bg': 'white',
    'text': #1a1a1a, // Default to better contrast with the 'bg'
    'headings': #222222, // Default to 'text'
    'h2': #222222, // Default to 'h(x-1)'
    'h3': #222222,
    'h4': #222222,
    'h5': #222222,
    'h6': #222222,
    'link': null, // Default to BS 'primary' (= first odoo color)
    'btn-primary': null, // Default to BS 'primary' (= first odoo color)
    'btn-primary-border': null, // Default to 'btn-primary'
    'btn-secondary': null, // Default to BS 'secondary' (= second odoo color)
    'btn-secondary-border': null, // Default to 'btn-secondary'
);

$o-color-combinations-presets: (
    (
        (
            'bg': 'white',
        ),
        (
            'bg': 'o-color-3',
            'headings': 'o-color-1',
        ),
        (
            'bg': 'o-color-2',
            'btn-secondary': 'o-color-3',
        ),
        (
            'bg': 'o-color-1',
            'link': 'o-color-5',
            'btn-primary': 'o-color-5',
            'btn-secondary': 'o-color-3',
        ),
        (
            'bg': 'o-color-5',
            'headings': 'o-color-4',
            'btn-secondary': 'o-color-3',
        ),
    ),
);
$o-color-combinations-preset-number: 1;


/* -------------------------- Color Pallets ------------------------*/

// You can as many pallets you want 

/* -------------------------- fonts -----------------------------*/

$o-website-values-palettes: (
    (
        'headings-font': 'Rubik',
        'navbar-font': 'Rubik',
        'buttons-font': 'Rubik',
         
        'h1-font': 'Rubik',
        'h2-font': 'Rubik',
        'h3-font': 'Rubik',
        'h4-font': 'Rubik',
        'h5-font': 'Rubik',
        'h6-font': 'Rubik',

        'font-size-base': 0.875rem,
        'h1-font-size': $h1-font-size,
        'h2-font-size': $h2-font-size,
        'h3-font-size': $h3-font-size,
        'h4-font-size': $h4-font-size,
        'h5-font-size': $h5-font-size,
        'h6-font-size': $h6-font-size,
    ),
);

$o-theme-font-configs: (
    'Rubik': (
        'family': ('Rubik'),
        'url': 'Rubik:300,300i,400,400i,500,500i,600,600i,700,700i',
    ),
    'Roboto': (
        'family': ('Roboto', sans-serif),
        'url': 'Roboto:300,300i,400,400i,700,700i',
    ),
    'Open Sans': (
        'family': ('Open Sans', sans-serif),
        'url': 'Open+Sans:300,300i,400,400i,700,700i',
    ),
    'Source Sans Pro': (
        'family': ('Source Sans Pro', sans-serif),
        'url': 'Source+Sans+Pro:300,300i,400,400i,700,700i',
    ),
    'Raleway': (
        'family': ('Raleway', sans-serif),
        'url': 'Raleway:300,300i,400,400i,700,700i',
    ),
    'Noto Serif': (
        'family': ('Noto Serif', serif),
        'url': 'Noto+Serif:300,300i,400,400i,700,700i',
    ),
    'Arvo': (
        'family': ('Arvo', Times, serif),
        'url': 'Arvo:300,300i,400,400i,700,700i',
    ),
);